{% extends "base.html" %}

{% block content %}

    <div class="container login">

        <h1>Connexion à {{ oauth2_application.name|default:"Jéito" }}</h1>

        {% if conf.test_site %}
            <div class="alert alert-danger">
                {{ conf.test_site_banner|safe }}
            </div>
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                L'identifiant ou le mot de passe sont incorrects. Merci de réessayer ou de <a href="{% url 'password_reset' %}">réinitialiser votre mot de passe</a>.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-group">
                <label for="id_username">Email <span style="color: #737373; font-weight: normal;">ou nom d'utilisateur ou numéro d'adhérent·e</span></label>
                <input type="text" class="form-control" name="username" id="id_number">
            </div>
            <div class="form-group">
                <label for="id_numero">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connexion</button>
        </form>

        <h2>Première connexion ou mot de passe perdu ?</h2>
        <p><a href="{% url 'password_reset' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            (Ré)initialiser mon mot de passe
        </a></p>
        <p>En cas de difficulté, contactez votre structure locale ou le <a href="mailto:{{ SUPPORT_EMAIL }}">secrétariat national</a>.

        <h2>Parent ?</h2>
        <p>Vous devez vous connecter en votre nom propre.
            N'utilisez pas le numéro d'adhérent·e de votre enfant.</p>

    </div>

{% endblock %}
