{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container login">

        <h1>Déconnexion</h1>

        <form method="post">
            <h2 class="block-center-heading">Confirmer la déconnexion de Jéito</h3>
            {% csrf_token %}

            <div class="control-group">
                <div class="controls">
                    <a href="javascript:history.back()" class="btn btn-large btn-default">Annuler</a>
                    <input type="submit" class="btn btn-large btn-primary" name="allow" value="Déconnecter"/>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
