{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Changement de mot de passe</h1>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!--
            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                {{ form.old_password.label_tag }}
                <div class="controls">
                    <input type="password" class="form-control" name="old_password" id="id_old_password">
                    {% if form.old_password.errors %}
                        <span class="help-block">
                            <strong>{{ form.old_password.errors }}</strong>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                {{ form.new_password1.label_tag }}
                <div class="controls">
                    <input type="password" class="form-control" name="new_password1" id="id_new_password1">
                    {% if form.new_password1.errors %}
                        <span class="help-block">
                            <strong>{{ form.new_password1.errors }}</strong>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                {{ form.new_password2.label_tag }}
                <div class="controls">
                    <input type="password" class="form-control" name="new_password2" id="id_new_password2">
                    {% if form.new_password2.errors %}
                        <span class="help-block">
                            <strong>{{ form.new_password2.errors }}</strong>
                        </span>
                    {% endif %}
                </div>
            </div>
            -->
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% translate 'Change my password' %}</button>
        </form>

    </div>

{% endblock %}
