{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">

        <h1>{{ title }}</h1>
        <p>
            Votre mot de passe a été défini. Vous pouvez maintenant vous <a href="{% url 'login' %}">connecter</a>.
        </p>

    </div>

{% endblock %}
