{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Réinitialiser mon mot de passe</h1>

        <form method="post" action="{% url 'password_reset' %}">
            {% crispy form %}
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Réinitialiser mon mot de passe</button>
        </form>

    </div>

{% endblock %}
