<p>Bonjour,</p>

<p>Vous recevez ce message en réponse à une demande de (ré)initialisation de mot de passe sur le portail
    des Éclaireuses Éclaireurs de France.</p>

<p>Si c'est bien vous qui venez de faire cette demande, cliquez sur la personne qui vous correspond
    afin de choisir votre nouveau mot de passe.</p>

<p>Si vous êtes responsable légal d'un·e mineur·e, sélectionnez votre nom
    et pas celui de votre enfant.</p>

<ul>
    {% for user in users %}
    <li>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=user.uid token=user.token %}">
            {{ user.person.first_and_nick_name }} {{ user.person.last_and_family_name }}
        </a>
    </li>
    {% endfor %}
</ul>

<p>Bonne journée,</p>
