{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">

        <h1>Message envoyé</h1>
        <p>
            Nous vous avons envoyé par email les instructions pour (ré)initialiser votre mot de passe.
        </p>
        <p>
            Si vous ne recevez pas ce message, patientez un peu et contrôlez le dossier de spam.
        </p>
        <p>
            En cas de difficulté persistante, contactez votre structure locale ou le <a href="mailto:{{ SUPPORT_EMAIL }}">secrétariat national</a>.
        </p>

    </div>

{% endblock %}
