{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>(Ré)initialiser mon de mot de passe</h1>

        {% if validlink %}

        <form method="post">
            {% crispy form %}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                (Ré)initialiser mon de mot de passe
            </button>
        </form>

        {% else %}

        <p>Le lien de mise à jour du mot de passe n’est pas valide, probablement en raison de sa précédente utilisation.</p>
        <p>Merci de <a href="{% url 'password_reset' %}">renouveler</a> votre demande.</p>

        {% endif %}

    </div>

{% endblock %}


{% block js %}

{{ block.super }}

<script>
    var username_as_login = $('#id_username_as_login');
    function update_username() {
        $('#div_id_username').toggle(username_as_login.is(":checked"));
    }
    username_as_login.change(function() {
        update_username();
    })
    update_username();
</script>

{% endblock js %}
