{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">

        <h1>Changement de mot de passe</h1>
        <p>
            Le changement de mot de passe a bien été effectué.
        </p>
        <a class="btn btn-primary" href="/">Retour à l'accueil</a>
    </div>

{% endblock %}
