/import_members.sh
/sync_from_prod.sh
/deploy.sh
/data/
/.idea/
/env/
/static/
/var/
/.cache/
/.coverage/
/.pythonhist
/client_id.json
/.vscode/
/jeito.egg-info/
/dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

