appdirs==1.4.3
cffi==1.10.0
decorator==4.0.11
Django==1.11
django-crispy-forms==1.6.1
django-cuser==2017.3.16
django-debug-toolbar==1.7
django-filter==1.0.2
django-haystack==2.6.0
django-mptt==0.8.7
django-tagulous==0.12.0
django-tracking-fields==1.0.6
django-tracking2==0.4.0
ElasticMock==1.3.0
elasticsearch==5.3.0
factory-boy==2.8.1
fake-factory==9999.9.9
Faker==0.7.11
flake8==3.3.0
google-api-python-client==1.6.2
gunicorn==19.7.1
httplib2==0.10.3
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
jsonpickle==0.9.4
lxml==3.7.3
mccabe==0.6.1
mock==1.0.1
oauth2client==4.0.0
packaging==16.8
pbr==3.0.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
Pygments==2.2.0
pylokit==0.8.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
requests-mock==1.3.0
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.3
templated-docs==0.3.1
tika==1.13.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.21
wcwidth==0.1.7
