Django==1.11.2
django-crispy-forms==1.6.1
django-cuser==2017.3.16
django-debug-toolbar==1.8
django-filter==1.0.4
django-haystack==2.8.1
django-mptt==0.8.7
django-tagulous==0.12.0
django-tracking2==0.4.0
elasticsearch==5.4.0
factory-boy==2.8.1
flake8==3.3.0
google-api-python-client==1.6.2
gunicorn==19.7.1
lxml==3.8.0
psycopg2==2.7.3.2
requests-mock==1.3.0
tika==1.13.1
