{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <h1>Réservations</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Statut</th>
            <th>Contact</th>
            <th>Tel</th>
            <th>Du</th>
            <th>Au</th>
            <th>Nuits</th>
            <th>Effectif</th>
            <th>Nuitées</th>
            <th>Montant</th>
            <th>Arrhes</th>
            <th>Paiement</th>
            <th>Solde</th>
            <th>Convention</th>
        </tr>
        {% for booking in booking_list %}
            <tr>
                <td><a href="{{ booking.get_absolute_url }}">{{ booking.title }}</a></td>
                <td><span class="label label-{{ booking.state.color }}">{{ booking.state.title }}</span></td>
                <td><a href="mailto:{{ booking.email }}">{{ booking.contact }}</a></td>
                <td>{{ booking.tel }}</td>
                <td align="right">{{ booking.begin|date:'D d/m/y' }}</td>
                <td align="right">{{ booking.end|date:'D d/m/y' }}</td>
                <td align="right">{{ booking.nights|default_if_none:"" }}</td>
                <td align="right">{{ booking.headcount|default_if_none:"" }}</td>
                <td align="right">{{ booking.overnights|default_if_none:"" }}</td>
                <td align="right">{% if booking.amount %}{{ booking.amount|floatformat:2 }} €{% endif %}</td>
                <td align="right">{% if booking.deposit %}{{ booking.deposit|floatformat:2 }} €{%  endif %}</td>
                <td align="right">{% if booking.payment %}{{ booking.payment|floatformat:2 }} €{%  endif %}</td>
                <td align="right">{% if booking.balance %}{{ booking.balance|floatformat:2 }} €{%  endif %}</td>
                <td>
                    {%  if booking.agreement and booking.agreement.pdf %}
                        <a href="{{ booking.agreement.pdf.url }}">{{ booking.agreement.number }}</a>
                    {% else %}{% comment %}
                        <a href="{% url 'booking:create_agreement' booking.id %}" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-file"></span>
                            Créer
                        </a>{%endcomment %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock content %}
