/*
#F6A800 jaune
#97BF0D vert
#14A0C8 bleu
#BD1220 rouge
*/

@font-face {
    font-family: "digital";
    src: url("fonts/DS-DIGIB.TTF");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 70px 0 60px 0; /* bottom = footer height */
}

.navbar-brand {
    background: url(/static/core/img/logo.png) no-repeat 15px 0;
    width: 80px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
}

footer a, footer a:hover, footer a:visited {
    color: white;
}

footer .bandeau {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #16a0c8, #97be0d);
}

footer .logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  height: 100%;
  width: 50px;
  background: url(/static/core/img/logo-blanc.svg), #22515C;
}

footer span {
    margin-left: 25px;
}

footer span img.baseline {
    vertical-align: baseline;
}

.btn + .btn {
  margin-left: 20px;
}

#docs-search-form {
  margin-bottom: 20px;
}

table.docs .label {
    margin-left: .5em;
}

.form-inline {
  margin-bottom: 20px;
}

.form-inline .form-group + .form-group,
.form-inline .checkbox,
.form-inline button {
  margin-left: 20px;
}

#comment {
  margin-top: 20px;
}

tr.separator:not(:nth-child(2)) {
    border-top: solid red 2px;
}

tr.total td {
    font-weight: bold;
}

.dashboard .number {
    font-family: "digital";
    font-size: 400%;
}

.dashboard .unit {
    font-size: 150%;
}

.dashboard .percent {
    font-family: "digital";
    font-size: 250%;
    color: green;
    margin-left: .25em;
}

.dashboard .percent.negative {
    color: red;
}

.form-inline .form-group + .form-group {
    margin-left: 16px;
}

.title-action {
    float: right;
}

th {
    white-space: nowrap;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_neg {
    background-color: #ffc0c0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_neg {
    background-color: #f0c0c0;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_pos {
    background-color: #c0ffc0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_pos {
    background-color: #c0f0c0;
}
