<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: solid 1px;
            padding: 4px 8px;
        }
        td {
            text-align: right;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th></th>
            <th>CA</th>
            <th>%</th>
            <th>Nuitées</th>
            <th>%</th>
            <th>prix</th>
        </tr>
        <tr>
            <th>Terrain EEDF</th>
            <td>{{ stats_terrain_eedf.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_terrain_eedf.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain_eedf.overnights }}</td>
            <td>{{ stats_terrain_eedf.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain_eedf.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Terrain ext</th>
            <td>{{ stats_terrain_ext.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_terrain_ext.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain_ext.overnights }}</td>
            <td>{{ stats_terrain_ext.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain_ext.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Village EEDF</th>
            <td>{{ stats_village_eedf.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_village_eedf.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village_eedf.overnights }}</td>
            <td>{{ stats_village_eedf.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village_eedf.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Village externe</th>
            <td>{{ stats_village_ext.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_village_ext.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village_ext.overnights }}</td>
            <td>{{ stats_village_ext.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village_ext.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Terrain</th>
            <td>{{ stats_terrain.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_terrain.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain.overnights }}</td>
            <td>{{ stats_terrain.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_terrain.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Village</th>
            <td>{{ stats_village.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_village.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village.overnights }}</td>
            <td>{{ stats_village.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_village.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>EEDF</th>
            <td>{{ stats_eedf.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_eedf.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_eedf.overnights }}</td>
            <td>{{ stats_eedf.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_eedf.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Externe</th>
            <td>{{ stats_ext.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_ext.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_ext.overnights }}</td>
            <td>{{ stats_ext.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_ext.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Avril</th>
            <td>{{ stats_avr.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_avr.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_avr.overnights }}</td>
            <td>{{ stats_avr.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_avr.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Juillet/août</th>
            <td>{{ stats_ete.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_ete.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_ete.overnights }}</td>
            <td>{{ stats_ete.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_ete.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Octobre</th>
            <td>{{ stats_oct.hosting_cost|floatformat:"0" }}</td>
            <td>{{ stats_oct.hosting_cost_rate|floatformat:"0" }} %</td>
            <td>{{ stats_oct.overnights }}</td>
            <td>{{ stats_oct.overnights_rate|floatformat:"0" }} %</td>
            <td>{{ stats_oct.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Hébergement</th>
            <td>{{ stats.hosting_cost|floatformat:"0" }}</td>
            <td></td>
            <td>{{ stats.overnights }}</td>
            <td></td>
            <td>{{ stats.overnight_cost|floatformat:"2" }}</td>
        </tr>
        <tr>
            <th>Contrat de coopération</th>
            <td>{{ stats.coop_cost|floatformat:"0" }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Matériel, consommables</th>
            <td>{{ stats.additional_cost|floatformat:"0" }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ stats.cost|floatformat:"0" }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
