{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Compte de résultat</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Débit</th>
            <th>Crédit</th>
            <th>Solde</th>
            <th>Budget</th>
            <th>Variation</th>
        </tr>
        {% for analytic in analytic_list %}
            <tr>
                <td>{{ analytic.title }}</td>
                <td align="right">{% if analytic.expense %}{{ analytic.expense|floatformat:2 }} €{% endif %}</td>
                <td align="right">{% if analytic.revenue %}{{ analytic.revenue|floatformat:2 }} €{% endif %}</td>
                <td align="right">{{ analytic.solde|floatformat:2 }} €</td>
                <td align="right">{% if analytic.budget %}{{ analytic.budget.amount|floatformat:2 }} €{% endif %}</td>
                <td align="right">{% if analytic.diff %}{{ analytic.diff|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Solde</strong></td>
            <td align="right"><strong>{{ expenses|floatformat:2 }} €</strong></td>
            <td align="right"><strong>{{ revenues|floatformat:2 }} €</strong></td>
            <td align="right"><strong>{{ solde|floatformat:2 }} €</strong></td>
            <td align="right"><strong>{{ budget_balance|floatformat:2 }} €</strong></td>
            <td align="right"><strong>{{ diff_balance|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('form').submit()});
    </script>

{% endblock js %}
