{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Budget</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th class="text-right">Réalisé</th>
            <th class="text-right">Projeté</th>
            <th class="text-right">Total</th>
        </tr>
        {% for row in data %}
            <tr>
                <td><a href="{% url 'accounting:account' %}?analytic={{ row.analytic__id }}&year={{ filter.form.cleaned_data.year }}">{{ row.analytic__title }}</a></td>
                <td class="text-right">{% if row.solde_real %}{{ row.solde_real|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if row.solde_proj %}{{ row.solde_proj|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if row.solde_total %}{{ row.solde_total|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Solde</strong></td>
            <td class="text-right"><strong>{{ solde_real|floatformat:2 }} €</strong></td>
            <td class="text-right"><strong>{{ solde_proj|floatformat:2 }} €</strong></td>
            <td class="text-right"><strong>{{ solde_total|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('form').submit()});
    </script>

{% endblock js %}
