{% extends 'base.html' %}

{% block content %}

<div class="container accounting">

    <h1>Contrôles</h1>

    <p>Analytique manquant</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Tiers</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th>Lettrage</th>
        </tr>
        {% for transaction in missing_analytic %}
            <tr>
                <td><a href="{% url 'accounting:entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                <td>{{ transaction.letter|default:"" }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Analytique superflu</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Tiers</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th>Lettrage</th>
        </tr>
        {% for transaction in extraneous_analytic %}
            <tr>
                <td><a href="{% url 'accounting:entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                <td>{{ transaction.letter|default:"" }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Lettrage non équilibré</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Tiers</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th>Lettrage</th>
        </tr>
        {% for letter in unbalanced_letters %}
            <tr><td>{{ letter }}</td></tr>
            {% for transaction in letter.transaction.all %}
                <tr>
                    <td><a href="{% url 'accounting:entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'accounting:account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{{ transaction.letter|default:"" }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

</div>

{% endblock content %}
