{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Nouvel achat</h1>

    <form method="POST" action="{% url 'accounting:purchase_create' %}">
        {% crispy forms.0 %}
        <p><b>Ventilation :</b></p>
        <div class="row">
            <div class="col-md-4"><label>Compte*</label></div>
            <div class="col-md-4"><label>Analytique*</label></div>
            <div class="col-md-4"><label>Montant*</label></div>
        </div>
        {% crispy forms.1 %}
        <input type="submit" name="create" value="Ajouter" class="btn btn-primary">
    </form>

</div>

{% endblock content %}
