{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ purchase.title }}</h1>

    <p>
        {% if purchase.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not purchase.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p><b>Date</b> : {{ purchase.date|date:"d/m/y" }}</p>
    <p><b>Fournisseur</b> : {{ revenue.thirdparty }}</p>
    <p><b>Montant</b> : {{ revenue.revenue }}</p>
    <p><b>Numéro</b> : {{ purchase.number|default:"-" }}</p>
    <p><b>Date limite</b> : {{ purchase.deadline|default:"comptant" }}</p>
    <p><b>Scan</b> : <a href="{{ purchase.scan.url }}">télécharger</a></p>
    <p><b>Ventilation :</b></p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.title }}</td>
                <td><a href="{% url 'accounting:account' year.pk %}?account={{ expense.account_id }}">{{ expense.account.number }} - {{ expense.account.title }}</a></td>
                <td><a href="{% url 'accounting:account' year.pk %}?analytic={{ expense.analytic_id }}">{{ expense.analytic.number }} - {{ expense.analytic.title }}</a></td>
                <td class="text-right">{% if expense.expense %}{{ expense.expense|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right {% if not purchase.balanced %}text-danger{% endif %}"><strong>{{ purchase.expense|floatformat:2 }} €</strong></td>
        </tr>
    </table>

    <p>
        {% if perms.accounting.change_purchase %}
            <a href="{% url 'accounting:purchase_update' year.pk purchase.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
