{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Rapprochement du relevé n°{{ object.date.year }}-{{ object.number }}</h1>

    <p>Date : {{ object.date }}</p>
    <p>Montant non rapproché : {{ object.reconciliation }} €</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Rapprochement</th>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Débit</th>
            <th>Crédit</th>
            <th>Solde</th>
        </tr>
        {% for row in transactions %}
            <tr>
                <td>{{ row.reconciliation|date:"d/m/y" }}</td>
                <td>{{ row.entry.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'accounting:entry' row.entry.year.pk row.entry.pk %}">{{ row.entry.title }}{% if row.title %} - {{ row.title }}{% endif %}</a></td>
                <td align="right">{% if row.expense %}{{ row.expense|floatformat:2 }} €{% endif %}</td>
                <td align="right">{% if row.revenue %}{{ row.revenue|floatformat:2 }} €{% endif %}</td>
                <td align="right">{% if row.balance %}{{ row.balance }} €{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock content %}
