{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Accès non autorisé</h1>

        <p>{{ exception }}</p>

        <p><a href="/">Retour à l'accueil</a></p>

    </div>

{% endblock content %}
