<!DOCTYPE html>
<html lang="fr">

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link href="{% static 'core/bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'tagulous/lib/select2-3/select2.css' %}" rel="stylesheet">
        <link href="{% static 'core/css/select2-bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'core/style.css' %}" rel="stylesheet" type="text/css" media="all">
    {% endblock css %}
    <title>EEDF - Jeito</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Adhésions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'members:adhesions' %}">Courbe</a>
                        </li>
                        <li>
                            <a href="{% url 'members:tableau_regions' %}">Par région</a>
                        </li>
                        <li>
                            <a href="{% url 'members:tableau_functions' %}">Par fonction</a>
                        </li>
                        <li>
                            <a href="{% url 'members:tableau_rate' %}">Par tarif</a>
                        </li>
                        <li>
                            <a href="{% url 'members:structures' %}">Par structure</a>
                        </li>
                        <li>
                            <a href="{% url 'members:structure_type' %}">Par type de structure</a>
                        </li>
                        <li>
                            <a href="{% url 'members:tranches' %}">Par tranche d'imposition</a>
                        </li>
                        <li>
                            <a href="{% url 'members:amount' %}">Recettes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'docs:index' %}">Documents</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Centres
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'booking:booking_list' %}">Réservations</a>
                        </li>
                        <li>
                            <a href="{% url 'booking:occupancy' %}">Occupation</a>
                        </li>
                        <li>
                            <a href="{% url 'booking:stats' %}">Statistiques</a>
                        </li>
                    </ul>
                </li>
                {% if user.is_superuser %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Comptabilités
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'accounting:balance' %}">Balance</a>
                        </li>
                        <li>
                            <a href="{% url 'accounting:analytic-balance' %}">Balance Analytique</a>
                        </li>
                        <li>
                            <a href="{% url 'accounting:budget' %}">Budget</a>
                        </li>
                        <li>
                            <a href="{% url 'accounting:bank-statement' %}">Relevés de compte</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ request.user.first_name.title }}
                            ({{ request.user.number }})
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_staff %}
                                <li>
                                    <a href="{% url 'admin:index' %}">
                                        Admin
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'core:logout' %}">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% comment %}
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Chercher</button>
                </form>
                {% endcomment %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}{% endblock content %}

<footer>
    <div class="bandeau">
        <div class="logo"></div>
        {% comment %}
        <span class="licence">
            &copy; 2016 <a href="http://www.eedf.fr">EEDF</a>
            sous <a href="https://fr.wikipedia.org/wiki/Licence_MIT">licence <strong>libre</strong> MIT</a>
        </span>
        <span class="django">
            <a href="https://www.djangoproject.com">
                Propulsé par
                <img src="{% static 'core/img/django-logo-negative.png' %}">
            </a>
        </span>
        <span class="github">
            <a href="https://www.github.com/eedf/jeito/">
                Améliore moi sur
                <img src="{% static 'core/img/github-logo.png' %}" class="baseline">
            </a>
        </span>
        {% endcomment %}
    </div>
</footer>

{% block js %}
    <script src="{% static 'core/js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'core/bootstrap3/js/bootstrap.js' %}"></script>
    <script src="{% static 'tagulous/lib/select2-3/select2.min.js' %}"></script>
    <script src="{% static 'tagulous/tagulous.js' %}"></script>
    <script src="{% static 'tagulous/adaptor/select2-3.js' %}"></script>
{% endblock js %}

</body>
</html>
