{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            <a href="{% url 'accounting_export' %}?{% get_params %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
        </div>

        <h1>Comptabilité des adhésions {{ year }}</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Structure</th>
                    <th>Cotisations perçues<br>(7560000)</th>
                    <th>Cotisations prélevées<br>(6561009)</th>
                    <th>Dons directs<br>(7540000)</th>
                    <th>Dons reversés<br>(7540009)</th>
                </tr>
            </thead>
            <tbody>
            {% for structure in page_obj %}
                <tr>
                    <td><a href="{% url 'accounting_detail' %}?year={{ year }}&structure={{ structure.id }}">{{ structure }}</a></td>
                    <td style="text-align: right;">{{ structure.allocation_contribution|default:"0,00" }}</td>
                    <td style="text-align: right;">{{ structure.transfer_contribution|default:"0,00" }}</td>
                    <td style="text-align: right;">{{ structure.allocation_donation|default:"0,00" }}</td>
                    <td style="text-align: right;">{{ structure.transfer_donation|default:"0,00" }}</td>
                </tr>
            {%  endfor %}
                <tr>
                    <td><b>Total</b></td>
                    <td style="text-align: right;"><b>{{ total.allocation_contribution|default:"0,00" }}</b></td>
                    <td style="text-align: right;"><b>{{ total.transfer_contribution|default:"0,00" }}</b></td>
                    <td style="text-align: right;"><b>{{ total.allocation_donation|default:"0,00" }}</b></td>
                    <td style="text-align: right;"><b>{{ total.transfer_donation|default:"0,00" }}</b></td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} structure{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter input, #filter select, #filter :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
