{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% comment %}
            <a href="{% url 'accounting_export' %}?{% get_params %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
            {% endcomment %}
        </div>

        <h1>Comptabilité des adhésions {{ structure }} {{ year }}</h1>

        {% crispy form %}

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_allocations_contribution" data-toggle="tab">Cotisations perçues</a></li>
            <li role="presentation"><a href="#tab_entries_contribution" data-toggle="tab">Cotisations prélevées</a></li>
            <li role="presentation"><a href="#tab_allocations_donation" data-toggle="tab">Dons directs</a></li>
            <li role="presentation"><a href="#tab_entries_donation" data-toggle="tab">Dons reversés</a></li>
        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_allocations_contribution">
                <h2>Cotisations perçues (compte 7560000)</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payeur·se</th>
                            <th>Adhésion</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for allocation in allocations_contribution %}
                            <tr>
                                <td>{{ allocation.payment.date|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'person_detail' allocation.payment.payer.id %}">{{ allocation.payment.payer }}</a></td>
                                <td><a href="{% url 'adhesion_detail' allocation.adhesion.id %}">{{ allocation.adhesion }}</a></td>
                                <td style="text-align: right;">{{ allocation.amount }}</td>
                            </tr>
                        {%  endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;"><b>{{ total_allocations_contribution|default:"0,00" }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_entries_contribution">
                <h2>Cotisations prélevées (compte 6561009)</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Adhésion</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_contribution %}
                            <tr>
                                <td>{{ entry.transfer.order.date|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'adhesion_detail' entry.adhesion.id %}">{{ entry.adhesion }}</a></td>
                                <td style="text-align: right;">{{ entry.amount }}</td>
                            </tr>
                        {%  endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td style="text-align: right;"><b>{{ total_entries_contribution|default:"0,00" }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_allocations_donation">
                <h2>Dons directs (compte 7540000)</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payeur·se</th>
                            <th>Adhésion</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for allocation in allocations_donation %}
                            <tr>
                                <td>{{ allocation.payment.date|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'person_detail' allocation.payment.payer.id %}">{{ allocation.payment.payer }}</a></td>
                                <td><a href="{% url 'adhesion_detail' allocation.adhesion.id %}">{{ allocation.adhesion }}</a></td>
                                <td style="text-align: right;">{{ allocation.amount }}</td>
                            </tr>
                        {%  endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;"><b>{{ total_allocations_donation|default:"0,00" }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_entries_donation">
                <h2>Dons reversés (compte 7540009)</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Adhésion</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_donation %}
                            <tr>
                                <td>{{ entry.transfer.order.date|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'adhesion_detail' entry.adhesion.id %}">{{ entry.adhesion }}</a></td>
                                <td style="text-align: right;">{{ entry.donation_positive }}</td>
                            </tr>
                        {%  endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td style="text-align: right;"><b>{{ total_entries_donation|default:"0,00" }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>
    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter input, #filter select, #filter :checkbox').change(function() {$('#filter').submit()});
        $(".list-link").attr("href", "{% url 'function_list' %}" + (sessionStorage.getItem("function_filters") || ""));
    </script>

{% endblock js %}
