<html>
<head>
<style>
@page {
  size: A4;
  margin: 15mm;
}
body {
    font-family: Dejavu Sans;
    font-size: 10pt;
}
h1 {
    margin-top: 0;
    padding: 0;
}
table {
    table-layout: fixed;
    width: 17cm;
    border-spacing: 0;
    border-collapse: collapse;
}
table td, table th {
    border: solid black 1px;
    padding: .1cm;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
</style>
</head>
<body>

<img src="./members/templates/members/img/logo.png" style="width: 3.5cm;">

<div style="position: absolute; left: 10cm; top: 1cm;">
<span style="color: #bf0000; font-weight: bold;">Éclaireuses Éclaireurs de France</span><br>
12 place Georges Pompidou<br>
93167 Noisy le Grand Cedex<br>
Tél. : 01 48 15 17 66<br>
<a href="https://www.eedf.fr" style="color: black; font-weight: bold; text-decoration: none;">www.eedf.fr</a>
</div>

<h1 style="margin-top: 1cm;">Attestation d'adhésion</h1>

<p>
    Je soussigné·e, atteste que <b>{{ adhesion.adherent.person.first_name }} {{ adhesion.adherent.person.last_name }}</b>,
    né·e le {{ adhesion.adherent.person.birthdate|date:'d/m/Y' }} à {{ adhesion.adherent.person.birth_place_display }}
    est à jour de son adhésion à l'association des <b>Éclaireuses et Éclaireurs de France</b>
    pour l'année scolaire <b>{{ adhesion.season_display }}</b>.
</p>

<p>
    Parcours détaillé :
</p>

<table>
    <tr>
        <th style="width: 25%;">Année scolaire</th>
        <th style="width: 25%;">Structure locale</th>
        <th style="width: 50%;">Fonction</th>
    </tr>
    {% for adhesion in adhesions %}
        <tr>
            <td>{{ adhesion.season_display }}</td>
            <td>{{ adhesion.structure }}</td>
            <td>
                {% for function in adhesion.structure_functions %}
                    {{ function.name }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<div style="margin-top: 4em; margin-left: 40%;">
    <p>Le :</p>
    <p>Nom :</p>
    <p>Fonction :</p>
    <p>Signature :</p>
</div>

</body>
</html>

