{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container adhesion-detail">

        <div class="btn-toolbar title-action">
            {% if perms.members.merge_person %}
                <a href="{% url 'person_deduplicate' person.pk %}?back={{ request.path }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-resize-small"></span> Fusionner
                </a>
            {% endif %}
            {% if adhesion.is_current and perms.members.delete_adhesion %}
                <a href="{% url 'adhesion_cancel' adhesion.pk %}?back={{ request.path }}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Annuler
                </a>
            {% endif %}
            {% if not adhesion.is_current_full_rate and not adherent.is_blocked and perms.members.add_invitation %}
                <a href="{% url 'invitation_create_old' %}?person={{  person.pk }}&back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-hand-right"></span> Inviter
                </a>
                <a href="{% url 'adhesion_renew' person.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-repeat"></span> Renouveler
                </a>
            {% endif %}
        </div>

        <h1>
            Adhésion {{ adhesion.season_display }} de {{ person }} {{ adhesion.status_label }}
        </h1>

        <h2>Adhérent·e</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Personne</th>
                <td><a href="{% url 'person_detail' person.pk %}">{{ person }}</a></td>
            </tr><tr>
                <th>Numéro</th>
                <td>
                    {{ adherent.id_str }}
                    {% if adherent.duplicates %}(doublon{{ adherent.duplicates|length|pluralize }} : {{ adherent.duplicates_display }}){% endif %}
                </td>
            </tr>
        </table>

        <div class="btn-toolbar title-action">
            {% if adhesion.is_current_full_rate and can_download_adhesion_card %}
                <a href="{% url 'adhesion_card' adhesion.pk %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-credit-card"></span> Télécharger la carte
                </a>
                <a href="{% url 'adhesion_certificate' adhesion.pk %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-download"></span> Attestation
                </a>
            {% endif %}
            {% if adhesion.is_current and can_change_adhesion %}
                <a href="{% url 'adhesion_update' adhesion.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier l'adhésion
                </a>
            {% endif %}
        </div>
        <h2>Adhésion</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Dates</th>
                <td>Du {{ adhesion.begin|date:"d/m/Y" }} au {{ adhesion.end|date:"d/m/Y" }}</td>
            </tr><tr>
                <th>Structure</th>
                <td><a href="{% url 'structure_detail' adhesion.structure.pk %}">{{ adhesion.structure }}</a></td>
            </tr>
            </tr><tr>
                <th>Signataire</th>
                <td>{{ adhesion.signatory }}</a></td>
            </tr>
        </table>

        {% if adhesion.is_current and can_change_adhesion or can_change_old_adhesion %}
            <a href="{% url 'contribution_update' adhesion.pk %}?back={{ request.path }}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span> Modifier la cotisation
            </a>
        {% endif %}
        <h2>Cotisation</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Tarif</th>
                <td>{{ adhesion.rate.label }}</td>
            </tr><tr>
                <th>Montant</th>
                <td>{% if adhesion.effective_rate is not None %}{{ adhesion.effective_rate }} €{% endif %}</td>
            </tr><tr>
                <th>Don</th>
                <td>{% if adhesion.donation %}{{ adhesion.donation }} €{% endif %}</td>
            </tr>
        </table>

        {% if can_change_adhesion and not adhesion.is_paid %}
            <div class="btn-toolbar pull-right">
                <a href="{% url 'payment_create' adhesion.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            </div>
        {% endif %}
        <h2>Paiement de la cotisation</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Montant</th>
                <th>Affectation adhésion</th>
                <th>Affectation don</th>
                <th>Moyen de paiement</th>
                <th>Date</th>
                <th>Payeur</th>
                <th>Reçu fiscal</th>
                <th></th>
            </tr>
            {% for payment in payments %}
                <tr>
                    <td>
                        {{ payment.amount }} €
                    </td>
                    <td>
                        {% for allocation in payment.allocation_set.all %}
                            {% if allocation.adhesion == adhesion and allocation.category == 1 %}{{ allocation.amount }} €{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for allocation in payment.allocation_set.all %}
                            {% if allocation.adhesion == adhesion and allocation.category == 2 %}{{ allocation.amount }} €{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ payment.get_method_display }}
                        {% if payment.online_status == 4 %} en ligne{% endif %}
                    </td>
                    <td>
                        {{ payment.date|date:"d/m/Y" }}
                    </td>
                    <td>
                        {% if not payment.payer %}
                            Structure EEDF
                        {% else %}
                            <a href="{% url 'person_detail' payment.payer.pk %}">{{ payment.payer }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% with receipt=payment.receipt %}
                            {% if receipt %}
                                {% if receipt.download %}
                                    Téléchargé le {{ receipt.download|date:'d/m/Y' }} à {{ receipt.download|date:'H:i' }}
                                {% elif receipt.sending %}
                                    Envoyé le {{ receipt.sending|date:'d/m/Y' }} à {{ receipt.sending|date:'H:i' }}
                                {% else %}
                                    Édité
                                {% endif %}
                                <div class="btn-toolbar pull-right">
                                    <a href="{% url 'receipt_download' receipt.pk %}" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-download"></span> Télécharger
                                    </a>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if can_delete_payment and payment.online_status == 1 %}
                            <a href="{% url 'payment_delete' payment.pk %}?back={{ request.path }}">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        {% endif %}
                        &nbsp;
                        {% if can_change_payment %}
                            <a href="{% url 'payment_update' payment.pk %}?back={{ request.path }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Virements et prélèvements</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Opération</th>
                <th>Montant</th>
                <th>Date</th>
            </tr>
            {% for entry in adhesion.entry_set.all %}
                <tr>
                    <td>
                        {% if entry.category == 1 and entry.contribution > 0 %}
                            Prélèvement de la cotisation
                        {% elif entry.category == 1 and entry.contribution < 0 %}
                            Remboursement de la cotisation
                        {% elif entry.category == 2 %}
                            Reversement du don
                        {% endif %}
                    </td>
                    <td>
                        {% if entry.category == 1 %}
                            {{ entry.contribution }} €
                        {% elif entry.category == 2 %}
                            {{ entry.donation_positive }} €
                        {% endif %}
                    </td>
                    <td>
                        {{ entry.transfer.order.date|date:'d/m/Y' }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(".list-link").attr("href", "{% url 'adhesion_list' %}" + (sessionStorage.getItem("adhesion_filters") || ""));
</script>

{% endblock js %}