{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>
            {% block title %}
            {% if transform %}
                Prolongement d'adhésion
            {% elif person %}
                Renouvellement d'adhésion
            {% else %}
                Nouvelle adhésion
            {% endif %}
            {% endblock %}
        </h1>

        {% block alert %}{% endblock %}

        <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

        {% if wizard.steps.current == 'pre_confirm' %}
            <div class="row">
                <div class="col-md-5"><div class="alert alert-warning">
                    <p>
                        En adhérant aux Éclaireuses Éclaireurs de France, vous rejoignez l'Association laïque
                        du scoutisme français, créé en 1911, pour contribuer à construire un monde meilleur
                        en formant de citoyen·nes engagé·es.
                    </p>
                    <p>
                        <b>Adhérer aux Éclés, c’est un engagement à :</b>
                    </p>
                    <p><ul>
                        <li>respecter les valeurs, principes, règles du Mouvement,</li>
                        <li>participer régulièrement aux activités,</li>
                        <li>collaborer personnellement ou pour son enfant à la mise en œuvre du projet de l’association.</li>
                    </ul></p>
                    <p>
                        <b>L’adhésion donne accès à :</b>
                    </p>
                    <p><ul>
                        <li>un projet pédagogique fondé sur le volontariat, apartisan, ouvert à tous·tes sans distinction d’origine ni de croyance,</li>
                        <li>une méthode éducative, la Méthode scoute, adaptée à chaque âge,</li>
                        <li>la possibilité de participer aux activités de l’année (sorties, week-ends, mini-camps, camp…),</li>
                        <li>un encadrement de qualité, composé de responsables bénévoles et régulièrement formé·es,</li>
                        <li>les assurances couvrant les activités de scoutisme de l’association,</li>
                        <li>l’accès à des outils dédiés dont la <a href="https://www.laboutiqueduscoutisme.com">boutique SCOUTIK</a>.</li>
                    </ul></p>
                </div></div>
                <div class="col-md-7">
                    <h1 style="margin-top: 0;"><b>Rejoignez-nous !</b></h1>
                    <p><b>
                        L’adhésion est essentielle au bon fonctionnement de l’association.
                        Elle contribue au développement des projets du Mouvement et renforce son indépendance.
                    </b></p>
                    <h2 class="text-danger">Comment adhérer ?</h2>
                    <p>
                        Pour adhérer aux Éclés, vous devez remplir en ligne le formulaire ci-dessous. Vous pouvez également remettre
                        un <a href="{{ paper_form.url }}">bulletin d’adhésion</a> papier, soigneusement complété (même pour un renouvellement)
                        au responsable de la Structure locale d’activité, accompagné du règlement.
                        Votre adhésion formalise votre appartenance à
                        l'association des EEDF. Attention : vous devez être à jour de votre adhésion pour
                        bénéficier des assurances, et ainsi participer aux activités !
                        Vous recevrez directement par mail votre carte d’adhérent·e.
                    </p>
                    <h2 class="text-danger">Tarif de la cotisation</h2>
                    </p>
                        L’association des EEDF étant reconnue d’utilité publique, la cotisation est assimilable à
                        un don, donnant droit à l’émission d’un reçu fiscal permettant de déduire de ses
                        impôts sur le revenu 66% du montant de l'adhésion. Chacun·e peut, selon sa
                        situation, amplifier son engagement au delà de son adhésion par un don libre.<br>
                        <span style="color: #f05a24; font-weight: bold;">Tout·e bénévole responsable de plus de 17 ans règle son adhésion personnellement.</span>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if wizard.steps.current == 'search_guardian1' %}
            <p>Au moins un·e responsable légal·e est requis pour les mineurs</p>
        {% endif %}

        {% if wizard.steps.current == 'post_confirm' %}
            <p>{{ recap|safe }}</p>
        {% endif %}

        <form class="wizard" method="POST" novalidate>
            {{ wizard.management_form }}
            {% crispy wizard.form %}
            {% if form.has_age_warning %}
                <div class="checkbox"><label><input type="checkbox" name="force_age"> Ignorer l'avertissement sur l'âge.</label></div>
            {% elif request.POST.force_age %}
                <input type="hidden" name="force_age" value="on">
            {% endif %}
            <input type="hidden" name="filters">
            {% if not invitation %}
                {% if request.GET.back %}
                    <a href="{{ request.GET.back }}" class="btn btn-default">
                {% else %}
                    <a href="{% url 'adhesion_list' %}" class="cancel-link btn btn-default">
                {% endif %}
                    <span class="glyphicon glyphicon-remove-circle"></span> Annuler
                </a>
            {% endif %}
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Début
                </button>
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Précédent
                </button>
            {% endif %}
            <button type="submit" name="next" class="btn btn-primary pull-right">
                {% if wizard.steps.current == wizard.steps.last %}
                    <span class="glyphicon glyphicon-ok"></span> Signer
                {% else %}
                    <span class="glyphicon glyphicon-forward"></span> Suivant
                {% endif %}
            </button>
        </form>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var rate_input = $('input[name=contribution-rate]');
    var method_select = $('#id_payment-method');
    var birth_country_select = $('#id_person-birth_country');

    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });

    function update_free_rate() {
        var rate_label = $('input[name=contribution-rate]:checked').parent().text();
        if (rate_label.match(/\(.+ à .+ €\)/)) {
            $("#div_id_contribution-free_rate").show();
        } else {
            $("#div_id_contribution-free_rate").hide();
        }
    }

    function update_payment() {
        $('#receipt_warning').toggle(method_select.val() == 5);
    }

    function update_birthplace() {
        $('#div_id_person-birth_commune').parent().toggle(birth_country_select.val() == '99100');
        $('#div_id_person-birth_place').parent().toggle(birth_country_select.val() != '99100');
    }

    rate_input.change(function() {
        update_free_rate();
    });

    method_select.change(function() {
        update_payment();
    });

    birth_country_select.change(function() {
        update_birthplace();
    })

    update_free_rate();
    if (method_select.length)
        update_payment();
    update_birthplace();

    $('input[name="filters"]').val(sessionStorage.getItem("adhesion_filters") || "");
    $('.cancel-link').attr('href', "{% url 'adhesion_list' %}" + (sessionStorage.getItem("adhesion_filters") || ""));
</script>

{% endblock js %}
