{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Nouvelle adhésion</h1>

        {% if persons %}
            <p>Si l'adhérent est l'une des personnes suivantes, cliquez sur « Renouveler ».</p>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Numéro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                    <tr>
                        <td style="vertical-align: middle;"><a href="{% url 'person_detail' person.pk %}">{{ person.last_and_family_name }}</a></td>
                        <td style="vertical-align: middle;">{{ person.first_and_nick_name }}</td>
                        <td style="vertical-align: middle;">{{ person.birthdate|date:"d/m/Y" }}</td>
                        <td style="vertical-align: middle;">{{ person.id_str }}</td>
                        <td style="vertical-align: middle;">
                            {% if person.adherent.is_blocked %}
                                <span class="text-danger">L'adhésion de cette personne est bloquée. Merci de contacter le secrétariat national.</span>
                            {% elif person.adhesion %}
                                Cette personne est déjà adhérente sur la structure {{ person.adhesion.structure }}.
                            {% else %}
                                <a href="{% url 'adhesion_renew' person.pk %}" class="btn btn-primary">Renouveler</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Sinon, si vous êtes certain·e de ne pas créer un doublon, vous pouvez créer une nouvelle personne :</p>
            <form method="POST">
                {% csrf_token %}
                <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
                <button type="submit" class="btn btn-primary">Nouvelle personne</button>
            </form>
        {% else %}
            <p>Aucun·e ancien·ne adhérent·e n'a été trouvé·e avec ces nom/prénom :</p>
            <ul>
                <li>Nom : <b>{{ last_name }}</b></li>
                <li>Prénom : <b>{{ first_name }}</b></li>
            </ul>
            <p>Afin d'éviter de créer un éventuel doublon, merci de confirmer qu'il ne s'agit pas d'un·e ancien·ne adhérent·e.</p>

            <form method="POST">
                {% csrf_token %}
                <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
                <button type="submit" class="btn btn-primary">Confirmer</button>
            </form>
        {% endif %}

{% endblock content %}
