{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Annuler l'adhésion de {{ adhesion.adherent }} ?</h1>

	{% if adhesion.successful_allocations %}
		<div class="alert alert-danger">
			Il n'est pas possible d'annuler une adhésion déjà payée. Merci d'annuler le paiement au préalable.
		</div>
		<a href="{% url 'adhesion_detail' adhesion.pk %}" class="btn btn-primary">Retour</a>
	{% else %}
		<p>Oui, je suis sûr de vouloir annuler l'adhésion de {{ adhesion.adherent }}.</p>
		{% if amount %}
			<p class="text-danger">Ceci entraînera le remboursement de {{ amount }} € à la structure {{ adhesion.structure }}.</p>
		{% endif %}
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="filters">
			<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
			<input type="submit" value="Oui, annuler l'adhésion" class="btn btn-danger">
		</form>
	{% endif %}

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("adhesion_filters") || "");
</script>

{% endblock js %}
