{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Nouvelle adhésion</h1>

        {% if blocked %}
            <p class="alert alert-danger">
                L'adhésion de la personne ci-dessous est actuellement bloquée.
                Merci de contacter le <a href="/aide/assistance.html" target="_blank">siège national</a> pour plus d'information.
            </p>
        {% else %}
            <p>Merci de confirmer que la personne dont tu souhaites renouveler l'adhésion est bien :</p>
        {% endif %}

        <ul>
            <li>Nom : <b>{{ person.last_and_family_name }}</b></li>
            <li>Prénom : <b>{{ person.first_and_nick_name }}</b></li>
            <li>Date de naissance : <b>{{ person.birthdate|date:"d/m/Y" }}</b></li>
            <li>Numéro : <b>{{ person.adherent.id_str }}</b></li>
            <li>Dernière adhésion : {% if adhesion %}<b>{{ adhesion.structure }}</b>, saison <b>{{ adhesion.season|add:"-1" }}/{{ adhesion.season }}</b>{% else %}aucune{% endif %}</li>
        </ul>

        <form method="POST">
            {% csrf_token %}
            <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
            {% if not blocked %}<button type="submit" class="btn btn-primary">Confirmer</button>{% endif %}
        </form>

{% endblock content %}
