{% extends 'base.html' %}
{% load members %}

{% block menu %}

{% if perms.members.view_person or perms.members.view_adherent or perms.members.view_employee or perms.members.view_structure %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Annuaire
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.members.view_person %}
        <li>
            <a href="{% url 'person_list' %}">Personnes</a>
        </li>
        {% endif %}
        {% if perms.members.view_adherent %}
        <li>
            <a href="{% url 'adherent_list' %}">Adhérent·es</a>
        </li>
        {% endif %}
        {% if perms.members.view_employee %}
        <li>
            <a href="{% url 'employee_list' %}">Salarié·es, CEE, SC</a>
        </li>
        {% endif %}
        {% if perms.members.view_structure %}
        <li>
            <a href="{% url 'structure_list' %}">Structures</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}

{% if perms.members.view_adhesion or perms.members.view_invitation %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Adhésions
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.members.view_adhesion %}
        <li>
            <a href="{% url 'adhesion_list' %}">Adhésions</a>
        </li>
        {% endif %}
        {% if perms.members.view_invitation %}
        <li>
            <a href="{% url 'invitation_list' %}">Invitations</a>
        </li>
        {% endif %}
        {% if perms.members.import_adhesion %}
        <li>
            <a href="{% url 'adhesion_import' %}">Import Excel</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'dashboard' %}">Statistiques</a>
        </li>
    </ul>
</li>
{% endif %}

{% if perms.members.view_payment or perms.members.view_unpaid_adhesion or perms.members.view_transferorder or perms.members.view_remittance %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Cotisations
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.members.view_payment %}
        <li>
            <a href="{% url 'payment_list' %}">Paiements</a>
        </li>
        {% endif %}
        {% if perms.members.view_unpaid_adhesion %}
        <li>
            <a href="{% url 'unpaid_list' %}">Impayés</a>
        </li>
        {% endif %}
        {% if perms.members.view_transferorder %}
        <li>
            <a href="{% url 'transferorder_list' %}">Virements et prélèvements</a>
        </li>
        {% endif %}
        {% if perms.members.view_remittance %}
        <li>
            <a href="{% url 'remittance_list' %}">Remises CB</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'amount' %}?{{ request.META.QUERY_STRING }}">Statistiques</a>
        </li>
        {% if perms.members.view_transferorder %}
        <li>
            <a href="{% url 'accounting' %}">Comptabilité</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}

{% if perms.members.view_team or perms.members.view_function %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Organisation
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.members.view_team %}
        <li>
            <a href="{% url 'team_list' %}">Équipes</a>
        </li>
        {% endif %}
        {% if perms.members.view_function %}
        <li>
            <a href="{% url 'function_list' %}">Fonctions</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}

{% if perms.members.view_employment or perms.members.view_inconsistencies or perms.members.view_roleconfig %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Administration
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.members.view_employment %}
        <li>
            <a href="{% url 'employment_list' %}">Contrats de travail</a>
        </li>
        {% endif %}
        {% if perms.members.import_employment %}
        <li>
            <a href="{% url 'employment_import' %}">Import des contrats</a>
        </li>
        {% endif %}
        {% if perms.members.view_inconsistencies %}
        <li>
            <a href="{% url 'inconsistencies' %}">Incohérences âge/fonction</a>
        </li>
        {% endif %}
        {% if perms.members.view_roleconfig %}
        <li>
            <a href="{% url 'roleconfig_list' %}">Rôles</a>
        </li>
        <li>
            <a href="{% url 'permission_list' %}">Tableau des droits</a>
        </li>
        {% endif %}
        {% if perms.members.view_role %}
        <li>
            <a href="{% url 'role_list' %}">Attributions de rôle</a>
        </li>
        {% endif %}
        {% if perms.members.view_logentry %}
        <li>
            <a href="{% url 'logentry_list' %}">Journal</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}

<li class="dropdown">
    <a href="/aide/" target="_blank">Aide</a>
</li>

{% endblock %}


{% block search %}

<form class="navbar-form navbar-right" method="GET" action="{% url 'person_list' %}">
    <div class="form-group">
        <input name="q" type="text" class="form-control" placeholder="Chercher">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>

{% endblock %}
