{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Cumul annuel des membres actifs</h1>

        {% crispy form %}

        <p>
            <a href="{% url 'dashboard' %}?{{ request.META.QUERY_STRING }}">Compteurs</a> /
            <b>Courbe annuelle</b> /
            <a href="{% url 'tableau_regions' %}?{{ request.META.QUERY_STRING }}">Par région</a> /
            <a href="{% url 'tableau_departements' %}?{{ request.META.QUERY_STRING }}">Par département</a> /
            <a href="{% url 'tableau_functions' %}?{{ request.META.QUERY_STRING }}">Par fonction</a> /
            <a href="{% url 'tableau_rate' %}?{{ request.META.QUERY_STRING }}">Par tarif</a> /
            <a href="{% url 'tableau_gender' %}?{{ request.META.QUERY_STRING }}">Par genre</a> /
            <a href="{% url 'structures' %}?{{ request.META.QUERY_STRING }}">Par structure</a> /
            <a href="{% url 'structure_type' %}?{{ request.META.QUERY_STRING }}">Par type de structure</a> /
            <a href="{% url 'tranches' %}?{{ request.META.QUERY_STRING }}">Par tranche d'imposition</a> /
            <a href="{% url 'stats_sf' %}?{{ request.META.QUERY_STRING }}">Pour le SF</a>
        </p>

        <div class="ct-chart ct-minor-seventh"></div>

        <p id="comment"></p>

    </div>

{% endblock content %}


{% block css %}

    {{ block.super }}
    <link href="{% static 'core/chartist/chartist.min.css' %}" rel="stylesheet">
    <style>
        .ct-label {
            font-size: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .ct-series-a .ct-line {
            stroke: red;
            stroke-width: 1px;
            stroke-dasharray: 3px 3px;
        }
        .ct-series-b .ct-line {
            stroke: red;
            stroke-width: 2px;
        }
    </style>

{% endblock css %}


{% block js %}

    {{ block.super }}
    <script src="{% static 'core/chartist/chartist.min.js' %}"></script>
    <script>
        var options = {
            showPoint: false,
            lineSmooth: false,
            axisX: {
                showGrid: false
            },
            axisY: {
            }
        };
        function updateGraph(updateHistory=true) {
            params = $('form').serialize();
            state = {};
            $('select').each(function() { state[$(this).attr('id')] = $(this).val(); });
            $.getJSON("{% url 'chart_data' %}?" + params, function(data) {
                new Chartist.Line('.ct-chart', data, options);
                $('#comment').html(data['comment']);
                if (updateHistory) {
                    history.pushState(state, "", "?" + params);
                }
            });
        }
        window.onpopstate = function(event) {
            if (event.state === null) {
                $('select').each(function() {
                   $(this).val($(this).children("option:first").val());
                });
            } else {
                Object.keys(event.state).forEach(function (key) {
                    $('#' + key).val(event.state[key]);
                });
            }
            updateGraph(false);
        };
        $('select').change(updateGraph);
        updateGraph(false);
    </script>

{% endblock js %}
