{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Communes</h1>

        {% crispy filter.form %}

        {% if commune_list %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom (département)</th>
                    <th>Si la date de naissance est</th>
                </tr>
            </thead>
            <tbody>
                {% for commune in commune_list %}
                <tr>
                    <td>{{ commune.name }} ({{ commune.code|slice:':2' }})</a></td>
                    <td>
                        {% if commune.dates.lower and commune.dates.upper %}
                            entre le {{ commune.dates.lower|date:"d/m/Y" }} et le {{ commune.dates.upper|date:"d/m/Y" }}
                        {% elif commune.dates.lower %}
                            après le {{ commune.dates.lower|date:"d/m/Y" }}
                        {% elif commune.dates.upper %}
                            avant le {{ commune.dates.upper|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} communes{{ paginator.count|pluralize }})
        </div>
        {% else %}
            {% if filter.form.q.value %}
                <p>Aucune commune n'a été trouvée selon ce critère de recherche.</p>
            {% else %}
                <p>Merci de rentrer un critère de recherche ci-dessus.</p>
            {% endif %}
        {% endif %}

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("commune_filters", window.location.search);
    </script>

{% endblock js %}
