{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Modifier la cotisation {{ adhesion.season_display }} de {{ adhesion.adherent }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        {% if form.has_age_warning %}
            <div class="checkbox"><label><input type="checkbox" name="force_age"> Ignorer l'avertissement sur l'âge.</label></div>
        {% endif %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var rate_input = $('input[name=rate]');

    function update_free_rate() {
        var rate_label = $('input[name=rate]:checked').parent().text();
        if (rate_label.match(/\(.+ à .+ €\)/)) {
            $("#div_id_free_rate").show();
        } else {
            $("#div_id_free_rate").hide();
        }
    }

    rate_input.change(function() {
        update_free_rate();
    });

    update_free_rate();

    $('input[name="filters"]').val(sessionStorage.getItem("adhesion_filters") || "");
</script>

{% endblock js %}
