{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container dashboard">

        <h1>Compteurs</h1>

        {% crispy filter.form %}

        <p>
            <b>Compteurs</b> /
            <a href="{% url 'chart' %}?{{ request.META.QUERY_STRING }}">Courbe annuelle</a> /
            <a href="{% url 'tableau_regions' %}?{{ request.META.QUERY_STRING }}">Par région</a> /
            <a href="{% url 'tableau_departements' %}?{{ request.META.QUERY_STRING }}">Par département</a> /
            <a href="{% url 'tableau_functions' %}?{{ request.META.QUERY_STRING }}">Par fonction</a> /
            <a href="{% url 'tableau_rate' %}?{{ request.META.QUERY_STRING }}">Par tarif</a> /
            <a href="{% url 'tableau_gender' %}?{{ request.META.QUERY_STRING }}">Par genre</a> /
            <a href="{% url 'structures' %}?{{ request.META.QUERY_STRING }}">Par structure</a> /
            <a href="{% url 'structure_type' %}?{{ request.META.QUERY_STRING }}">Par type de structure</a> /
            <a href="{% url 'tranches' %}?{{ request.META.QUERY_STRING }}">Par tranche d'imposition</a> /
            <a href="{% url 'stats_sf' %}?{{ request.META.QUERY_STRING }}">Pour le SF</a>
        </p>

        <div class="row">
            {% for template in widget_templates %}
                <div class="col-md-4 col-sm-6">
                    {% include template %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
