{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer la délégation de rôle ?</h1>

	<p>
        Oui, je suis sûr de vouloir supprimer la délégation de mon rôle <b>« {{ role.config }} »</b><br>
        dans l'équipe <b>« {{ role.team }} {{ role.team.structure }} »</b><br>
        à <b>{{ role.proxy }}</b>.
	</p>

    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("role_filters") || "");
</script>

{% endblock js %}
