{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Déléguer mon rôle « {{ config }} » dans l'équipe « {{ team }} {{ team.structure }} »</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        {% if form.has_warning %}
            <div class="checkbox"><label><input type="checkbox" name="force"> Forcer la délégation malgré l'avertissement sur la structure.</label></div>
        {% endif %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("role_filters") || "");
</script>

{% endblock js %}
