<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Dons</strong></h1>
    </div>
    <div class="panel-body text-center">
        <span class="number">{{ donation|floatformat:"0" }}</span>
        <span class="unit">k€</span>
        <span class="percent {% if donation_diff < 0 %}negative{% endif %}">
            {% if donation_diff > 0 %}+{% endif %}{{ donation_diff|floatformat:"1" }}%
        </span>
    </div>
</div>
