{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Doublons</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Naissance</th>
                    <th>Numéro</th>
                    <th>Adhésions</th>
                    <th>Enfants</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for duplicate in page_obj %}
                {% for person in duplicate.persons %}
                    <tr>
                        <td><a href="{% url 'person_detail' person.pk %}">{{ person.last_and_family_name }}</a></td>
                        <td>{{ person.first_and_nick_name }}</td>
                        <td>{{ person.birthdate|date:'d/m/Y' }}</td>
                        <td>{{ person.adherent.id_str }}</td>
                        <td>
                            {% for adhesion in person.adherent.adhesions.all %}
                                {{ adhesion.season }} @ {{ adhesion.structure }}
                            {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for protected in person.protecteds %}
                                <a href="{% url 'person_detail' protected.pk %}">{{ protected }}</a>
                            {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ person.status_label }}</td>
                        <td>
                            <a href="{% url 'person_deduplicate' person.pk %}">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        </td>
                    </tr>
                {%  endfor %}
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} doublons{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}
