{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Connexion avec l'adresse {{ email }}</h1>

    <p>
        Les personnes ci-dessous partagent la même adresse email <a href="mailto:{{ email }}">{{ email }}</a>.<br>
        Seule la personne sélectionnée pourra se connecter avec cette adresse email.<br>
        Les autres personnes pourront cependant se connecter avec leur numéro d'adhérent·e ou de salarié·e.
    </p>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}
