{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            <a href="{% url 'employment_export' %}?{% get_params %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
            {% if perms.members.import_employment %}
                <a href="{% url 'employment_import' %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-upload"></span> Importer
                </a>
            {% endif %}
            {% if perms.members.add_employment %}
                <a href="{% url 'employment_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Nouveau contrat
                </a>
            {% endif %}
        </div>

        <h1>Contrats de travail</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Intitulé de poste{% if request.GET.o == 'name' %} ▼{% endif %}</th>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Type{% if request.GET.o == 'type' %} ▼{% endif %}</th>
                    <th>Du{% if request.GET.o == 'begin' %} ▼{% endif %}</th>
                    <th>Au{% if request.GET.o == 'end' %} ▼{% endif %}</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for employment in page_obj %}
                <tr>
                    <td><a href="{% url 'employment_detail' employment.pk %}">{{ employment.name }}</a></td>
                    <td><a href="{% url 'person_detail' employment.employee.person.pk %}">{{ employment.employee.person.last_and_family_name }}</a></td>
                    <td>{{ employment.employee.person.first_and_nick_name }}</td>
                    <td>{{ employment.get_type_display }}</td>
                    <td>{{ employment.begin|date:"d/m/Y" }}</td>
                    <td>{{ employment.end|date:"d/m/Y" }}</td>
                    <td>{{ employment.employee.status_label }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} contrat{{ paginator.count|pluralize }} de travail)
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("employment_filters", window.location.search);
    </script>

{% endblock js %}
