{% extends 'members/base.html' %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ employee.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                <a href="{% url 'employee_update' employee.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Salarié·e, CEE, SC {{ employee.person }}</h1>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Personne</th>
                <td><a href="{% url 'person_detail' employee.person.pk %}">{{ employee.person }}</a></td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ employee.id_str }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ employee.phone_display }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'employee_list' %}" + (sessionStorage.getItem("employee_filters") || ""));
</script>

{% endblock js %}
