{% extends 'members/base.html' %}
{% load crispy_forms_tags static %}

{% block content %}

    <div class="container">

        <h1>Import de contrats de travail</h1>

        <p>Télécharger le <a href="{% static 'members/entete_import_contrats_de_travail.xlsx' %}">fichier vierge avec la ligne d'entête.</a></p>

        <p>Le fichier doit être au format XLSX (et non XLS ou CSV).
        Il doit contenir une première ligne avec les en-têtes de colonne suivantes (l'ordre ne compte pas) :<ul>
            <li>nom</li>
            <li>prénom</li>
            <li>genre (valeurs : « M », « F » ou « - »)</li>
            <li>adresse ligne 1</li>
            <li>adresse ligne 2</li>
            <li>adresse ligne 3</li>
            <li>code postal</li>
            <li>ville</li>
            <li>pays</li>
            <li>téléphone</li>
            <li>email</li>
            <li>date de naissance (format « jj/mm/aaaa »)</li>
            <li>pays de naissance (<a href="{% url 'country_list' %}">valeurs</a>)</li>
            <li>commune de naissance (<a href="{% url 'commune_list' %}">valeurs</a> pour la France, libre pour l'étranger)</li>
            <li>type de contrat (valeurs : {% for t in employment_types %}{% if forloop.first %}{% elif forloop.last %} ou {% else %}, {% endif %}« {{ t.label }} »{% endfor %})</li>
            <li>intitulé de poste (libre)</li>
            <li>date de début</li>
            <li>date de fin (laisser vide en cas de CDI)</li>
            <li>équipe (nom d'une équipe existante dans la structure)</li>
            <li>fonction (nom personnalisé, peut rester vide)</li>
            <li>droit à l'image (valeurs : « oui » ou « non »)</li>
        </ul>
        </p>
        <p>Si une personne a déjà été salariée précédemment, elle sera automatiquement reconnue à partir de ses nom, prénom et date de naissance.
        Si une personne a déjà un contrat de travail en cours, ce contrat sera écrasé par l'import.</p>

        {% crispy form %}

{% endblock content %}
