{% extends 'members/rgpd_modal.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    {{ block.super }}

    <div class="container">

        <div class="btn-toolbar title-action">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-download"></span> Exporter <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" data-toggle="modal" data-target="#rgpd_modal" data-url="{% url 'employee_export' %}?{% get_params %}" data-title="Exporter les contacts">Contacts</a></li>
                    <li><a href="" data-toggle="modal" data-target="#rgpd_modal" data-url="{% url 'employee_export' %}?{% get_params %}&full" data-title="Exporter tous les champs">Tous les champs</a></li>
                </ul>
            </div>
            {% if perms.members.add_employee %}
                <a href="{% url 'employment_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
        </div>

        <h1>Salarié·es, CEE, SC</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Numéro{% if request.GET.o == 'id' %} ▼{% endif %}</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in page_obj %}
                <tr>
                    <td><a href="{% url 'person_detail' employee.person.pk %}">{{ employee.person.last_and_family_name }}</a></td>
                    <td>{{ employee.person.first_and_nick_name }}</td>
                    <td>{{ employee.id_str }}</td>
                    <td>{{ employee.status_label }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} salarié·e{{ paginator.count|pluralize }}, CEE, SC)
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("employee_filters", window.location.search);
    </script>

{% endblock js %}
