{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer le contrat de travail {{ employment.name }} ?</h1>

	<div class="alert alert-danger">
		Attention ! Afin de conserver l'historique des contrats passés, un contrat de travail ne doit être supprimé que
		si il n'a jamais existé. Si le contrat a existé mais a été interrompu, il faut simplement le
		<a href="{% url 'employment_update' employment.pk %}">modifier</a> et préciser la date de fin.
	</div>

	<p>
        Oui, je suis sûr de vouloir supprimer le contrat de travail <b>{{ employment.name }}</b><br>
        de <b>{{ employment.employee.person }}</b> {{ employment.dates_display }}.
    </p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("employment_filters") || "");
</script>

{% endblock js %}
