{% extends 'members/base.html' %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ employment.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'employment_delete' employment.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                <a href="{% url 'employment_update' employment.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Contrat de travail</h1>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Personne</th>
                <td><a href="{% url 'employee_detail' employment.employee.pk %}">{{ employment.employee }}</a></td>
            </tr>
            <tr>
                <th>Intitulé de poste</th>
                <td>{{ employment.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ employment.get_type_display }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ employment.begin|date:'d/m/Y' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ employment.end|date:'d/m/Y'|default:'' }}</td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'employment_list' %}" + (sessionStorage.getItem("employment_filters") || ""));
</script>

{% endblock js %}
