{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Création d'un nouveau contrat de travail</h1>

        {% block alert %}{% endblock %}

        <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

        {% if wizard.steps.current == 'post_confirm' %}
            <p>{{ recap|safe }}</p>
        {% endif %}

        <form class="wizard" method="POST" novalidate>
            {{ wizard.management_form }}
            {% crispy wizard.form %}
            <input type="hidden" name="filters">
            {% if request.GET.back %}
                <a href="{{ request.GET.back }}" class="btn btn-default">
            {% else %}
                <a href="{% url 'employment_list' %}" class="cancel-link btn btn-default">
            {% endif %}
                <span class="glyphicon glyphicon-remove-circle"></span> Annuler
            </a>
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Début
                </button>
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Précédent
                </button>
            {% endif %}
            <button type="submit" name="next" class="btn btn-primary pull-right">
                {% if wizard.steps.current == wizard.steps.last %}
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer
                {% else %}
                    <span class="glyphicon glyphicon-forward"></span> Suivant
                {% endif %}
            </button>
        </form>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var birth_country_select = $('#id_person-birth_country');

    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });

    function update_birthplace() {
        $('#div_id_person-birth_commune').parent().toggle(birth_country_select.val() == '99100');
        $('#div_id_person-birth_place').parent().toggle(birth_country_select.val() != '99100');
    }

    birth_country_select.change(function() {
        update_birthplace();
    })

    update_birthplace();

    $('input[name="filters"]').val(sessionStorage.getItem("employment_filters") || "");
    $('.cancel-link').attr('href', "{% url 'employment_list' %}" + (sessionStorage.getItem("employment_filters") || ""));
</script>

{% endblock js %}
