{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if function.pk %}Modifier la fonction{% else %}Attribuer une fonction{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        {% if form.has_age_warning %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="force_age"> Ignorer l'avertissement sur l'âge
                </label>
            </div>
        {% endif %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#id_function_config').on('select2:select', function(e) {
            $('#id_name').prop('placeholder', e.params.data.text);
            $('#id_end').prop('placeholder', e.params.data.default_end || "");
        });
        $('#id_name').prop('placeholder', $('#id_function_config option:selected').text());

        $('input[name="filters"]').val(sessionStorage.getItem("function_filters") || "");
    </script>

{% endblock js %}
