{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Accepter la nouvelle fonction ?</h1>

    <p>
        La fonction « {{ function }} » dans l'équipe « {{ function.team }} » de la structure « {{ function.team.structure }} »
        a été <b>{{ reply }}</b>.
    </p>

</div>

{% endblock content %}
