{% extends 'members/base.html' %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ function.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'function_delete' function.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                <a href="{% url 'function_update' function.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>{{ function }}</h1>

        {% if function.owner %}
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span> Cette fonction est gérée par l'outil AGORA.
                Elle ne peut pas être modifiée dans Jéito
            </div>
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Personne</th>
                <td><a href="{% url 'person_detail' function.person.pk %}">{{ function.person }}</a></td>
            </tr>
            <tr>
                <th>Équipe</th>
                <td><a href="{% url 'team_detail' function.team.pk %}">{{ function.team }}</a></td>
            </tr>
            <tr>
                <th>Structure</th>
                <td><a href="{% url 'structure_detail' function.team.structure.pk %}">{{ function.team.structure }}</a></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ function.function_config.name }}</a></td>
            </tr>
            <tr>
                <th>Fonction particulière</th>
                <td>{% if function.name != function.function_config.name %}{{ function.name }}{% endif %}</a></td>
            </tr>
            <tr>
                <th>Dates</th>
                <td>Du {{ function.begin|date:"d/m/Y" }} au {{ function.end|date:"d/m/Y" }}</td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'function_list' %}" + (sessionStorage.getItem("function_filters") || ""));
</script>

{% endblock js %}
