{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Accepter la nouvelle fonction ?</h1>

    <p>Accepter la fonction « {{ function }} » dans l'équipe « {{ function.team }} » de la structure « {{ function.team.structure }} ».</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="reply" value="refuse" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Refuser
        </button>
        <button type="submit" name="reply" value="accept" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Accepter
        </button>
    </form>

</div>

{% endblock content %}
