{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Supprimer la fonction {{ function }} ?</h1>

    <p>Oui, je suis sûr de vouloir supprimer la fonction <b>{{ function }}</b>
        sur la structure <b>{{ function.team.structure }}</b> à <b>{{ function.person }}</b>.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="controls ">
            <div class="radio">
                <div id="div_id_choice" class="form-group">
                    <label for="id_choice_0" class=""> <input type="radio" checked name="choice" id="id_choice_0" value="finish">
                        {{ function.person }} a été {{ function }} depuis le {{ function.begin|date:"d/m/Y" }}. Je ne veux supprimer sa fonction qu'<b>à partir d'aujourd'hui</b>.
                    </label>
                </div>
                <div id="div_id_choice" class="form-group">
                    <label for="id_choice_1" class=""> <input type="radio" name="choice" id="id_choice_1" value="delete">
                        {{ function.person }} n'a jamais été {{ function }}. Je veux totalement supprimer sa fonction <b>dès le {{ function.begin|date:"d/m/Y" }}</b>.
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" value="Supprimer" class="btn btn-danger">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("function_filters") || "");
</script>

{% endblock js %}
