{% extends 'members/rgpd_modal.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    {{ block.super }}

    <div class="container">

        <div class="btn-toolbar title-action">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-download"></span> Exporter <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" data-toggle="modal" data-target="#rgpd_modal" data-url="{% url 'function_export' %}?{% get_params %}" data-title="Exporter les contacts">Contacts</a></li>
                    <li><a href="" data-toggle="modal" data-target="#rgpd_modal" data-url="{% url 'function_export' %}?{% get_params %}&full" data-title="Exporter tous les champs">Tous les champs</a></li>
                </ul>
            </div>
            {% if perms.members.add_function %}
                <a href="{% url 'function_create' %}?structure={{ filter.form.structure.value|default:'' }}&team={{ filter.form.team.value|default:'' }}" class="btn btn-primary title-action">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
        </div>

        <h1>Fonctions</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Structure{% if request.GET.o == 'structure' %} ▼{% endif %}</th>
                    <th>Équipe{% if request.GET.o == 'team' %} ▼{% endif %}</th>
                    <th>Fonction{% if request.GET.o == 'function' %} ▼{% endif %}</th>
                    <th>Du{% if request.GET.o == 'begin' %} ▼{% endif %}</th>
                    <th>Au{% if request.GET.o == 'end' %} ▼{% endif %}</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for function in page_obj %}
                <tr>
                    <td><a href="{% url 'person_detail' function.person.pk %}">{{ function.person.last_and_family_name }}</a></td>
                    <td>{{ function.person.first_and_nick_name }}</td>
                    <td><a href="{% url 'structure_detail' function.team.structure.pk %}">{{ function.team.structure }}</a></td>
                    <td><a href="{% url 'team_detail' function.team.pk %}">{{ function.team }}</a></td>
                    <td><a href="{% url 'function_detail' function.pk %}">{{ function }}</a></td>
                    <td>{{ function.begin|date:"d/m/Y" }}</td>
                    <td>{{ function.end|date:"d/m/Y" }}</td>
                    <td>{{ function.status_label }}</td>
                    <td>
                        {% has_perm 'members.change_function' function as change_perm %}
                        {% if not function.owner and change_perm %}
                            <a href="{% url 'function_update' function.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                        &nbsp;
                        {% has_perm 'members.delete_function' function as delete_perm %}
                        {% if not function.owner and delete_perm %}
                            <a href="{% url 'function_delete' function.pk %}">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} fonction{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("function_filters", window.location.search);
    </script>

{% endblock js %}
