{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Supprimer le ou la responsable légal·e {{ guardian }} ?</h1>

    <p>Oui, je suis sûr de vouloir supprimer le lien entre l'adhérent·e {{ person }} et le ou la responsable légal·e {{ guardian }}.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" value="Supprimer" class="btn btn-danger">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("person_filters") || "");
</script>

{% endblock js %}
