{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container home">

        <h1>Bienvenue sur Jéito !</h1>

        {% if user.person.can_invite_itself %}
            <div class="alert alert-info">
                Vous n'êtes pas encore adhérent·e pour la saison en cours. Votre accès à Jéito est donc restreint.<br>
                <b>Vous devez renouveler votre adhésion afin de débloquer votre accès.</b><br><br>
                <a href="{% url 'invitation_create_self' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-repeat"></span> Renouveler mon adhésion
                </a>
            </div>
        {% endif %}

        {% if nb_unpaid %}
            <div class="alert alert-danger" role="alert">
                {{ nb_unpaid }} adhésion{{ nb_unpaid|pluralize:" n'a,s n'ont" }} pas de paiement enregistré.
                Voir le <a href="{% url 'unpaid_list' %}">détail</a>.
            </div>
        {% endif %}

        {% if news_banner %}
            <div class="alert alert-warning">
                {{ news_banner|safe }}
            </div>
        {% endif %}

        <div class="alert alert-warning">
            {% if structures %}
                <b>{{ structures|pluralize:"Contact local,Contacts locaux" }}</b>,
                à joindre en priorité pour toute question concernant votre adhésion, ainsi que les activités :
                {% for structure in structures %}
                    <br>
                    - {{ structure.type }} {{ structure.name }} -
                    Email : <a href="mailto:{{ structure.public_email }}">{{ structure.public_email }}</a> -
                    Tél. : <a href="{{ structure.public_phone.as_rfc3966 }}">{{ structure.public_phone_display }}</a>
                {% endfor %}
                <br>
            {% endif %}
            <b>Contact national</b>, uniquement pour ce qui concerne les adhésions :<br>
            - Secrétariat national -
            Email : <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> -
            Tél. : <a href="tel:+33-1-48-15-17-66">01 48 15 17 66</a>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            {% for person in persons %}
                <li role="presentation"{% if forloop.first %} class="active"{% endif %}><a href="#person{{ person.pk }}" data-toggle="tab">{{ person }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for person in persons %}
                <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="person{{ person.pk }}">

                    <h2>Mon profil</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-primary" data-href="{% url 'person_detail' person.pk %}">
                                <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> {{ person }}</div>
                                <div class="panel-body">
                                    {% if person.birthdate %}Né·e le {{ person.birthdate|date:'d/m/Y' }}{% if person.birth_place_display %} à {{ person.birth_place_display }}{% endif %}{% endif %}
                                    {% if person.mobile_phone or person.home_phone %}
                                        <br><span class="glyphicon glyphicon-earphone"></span> {{ person.mobile_phone_display }}{% if person.mobile_phone and person.home_phone %} / {% endif %}{{ person.home_phone_display }}
                                    {% endif %}
                                    {% if person.email %}
                                        <br><span class="glyphicon glyphicon-envelope"></span> {{ person.email }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% with adhesion=person.current_adhesion %}
                            {% if adhesion %}
                                <div class="col-md-4">
                                    <div class="panel panel-primary" data-href="{% url 'adhesion_detail' adhesion.pk %}">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-tent"></span> Adhérent·e n°{{ person.adherent.id_str }}</div>
                                        <div class="panel-body">
                                            {{ adhesion.structure.type.name }} <a href="{% url 'structure_detail' adhesion.structure.pk %}">{{ adhesion.structure }}</a>
                                            <br>Du {{ adhesion.begin|date:'d/m/Y' }} au {{ adhesion.end|date:"d/m/Y" }}
                                            <br>Tarif {{ adhesion.rate.name }} ({{ adhesion.rate.rate }} €)
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% with employment=person.employment %}
                            {% if employment %}
                                <div class="col-md-4">
                                    <div class="panel panel-primary" data-href="{% url 'employment_detail' employment.pk %}">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-folder-open"></span>  {{ employment.name }}</div>
                                        <div class="panel-body">
                                            {{ employment.get_type_display }}
                                            {% if employment.end %}
                                                à partir du {{ employment.begin|date:'d/m/Y' }}
                                            {% else %}
                                                du {{ employment.begin|date:'d/m/Y' }} au {{ employment.end|date:"d/m/Y" }}
                                            {% endif %}
                                            {% if employment.employee.phone %}
                                                <br><span class="glyphicon glyphicon-earphone"></span> {{ employment.employee.phone_display }}
                                            {% endif %}
                                            {% if employment.employee.email %}
                                                <br><span class="glyphicon glyphicon-envelope"></span> {{ employment.employee.email }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>

                    {% if person.person.functions.current %}
                        <h2>{% if person.functions.current|length > 1 %}Mes fonctions{% else %}Ma fonction{% endif %}</h2>
                        <div class="row">
                            {% for function in person.functions.current %}
                                <div class="col-md-4">
                                    <div class="panel panel-primary" data-href="{% url 'team_detail' function.team.pk %}">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-wrench"></span> {{ function }}</div>
                                        <div class="panel-body">
                                            <a href="{% url 'team_detail' function.team.pk %}">{{ function.team }}</a>
                                            <br>{{ function.team.structure.type.name }} <a href="{% url 'structure_detail' function.team.structure.pk %}">{{ function.team.structure }}</a>
                                            <br>{% if function.end %}
                                                Du {{ function.begin|date:'d/m/Y' }} au {{ function.end|date:"d/m/Y" }}
                                            {% else %}
                                                A partir du {{ function.begin|date:'d/m/Y' }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if person.structures %}
                        <h2>{% if person.structures|length > 1 %}Mes structures{% else %}Ma structure{% endif %}</h2>
                        <div class="row">
                            {% for structure in person.structures %}
                                <div class="col-md-4">
                                    <div class="panel panel-primary" data-href="{% url 'structure_detail' structure.pk %}">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> {{ structure.type.name }} {{ structure.name }}</div>
                                        <div class="panel-body">
                                            {% if structure.region %}Région {{ structure.region }}<br>{% endif %}
                                            <a href="{% url 'adhesion_list' %}?structure={{ structure.pk }}">{{ structure.adherents.is_active.count }} adhésions</a>
                                            <br><a href="{% url 'team_list' %}?structure={{ structure.pk }}">{{ structure.teams.is_active.count }} équipes</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('.panel[data-href]').click(function() {
        if(window.location.hash) {
            window.location.hash = $(this).data('href');
        } else {
            window.location.href = $(this).data('href');
        }
    });
</script>

{% endblock js %}
