{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Incohérences âge/fonction</h2>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Adhérent·e</th>
                <th>Naissance</th>
                <th>Fonction</th>
                <th>Âge min</th>
                <th>Âge au début</th>
                <th>Âge max</th>
                <th>Âge à la fin</th>
                <th>Écart (années)</th>
                <th>Structure</th>
            </tr>
            {% for function in function_list %}
                <tr>
                    <td><a href="{% url 'person_detail' function.person.pk %}">{{ function.person }}</a></td>
                    <td>{{ function.person.birthdate|date:"d/m/Y" }}</td>
                    <td><a href="{% url 'function_detail' function.pk %}">{{ function }}</a></td>
                    <td>{% if function.function_config.age_min %}{{ function.function_config.age_min }} ans{% endif %}</td>
                    <td>{{ function.age_begin }} ans au {{ function.begin|date:"d/m/Y" }}</td>
                    <td>{% if function.function_config.age_max %}{{ function.function_config.age_max }} ans{% endif %}</td>
                    <td>{{ function.age_end }} ans au {{ function.end|date:"d/m/Y" }}</td>
                    <td>{% if function.gap > 0 %}+{% endif %}{{ function.gap }}</td>
                    <td>{{ function.team.structure }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
