<html>
<body>

<p>
    Bonjour{% if person %} {{ person.first_name|safe }}{% endif %},
</p>

<p>
    {{ host.first_name|safe }} {{ host.last_name|safe }} vous invite à
    {% if invitation.indirect_adhesion %}prolonger votre adhésion{% else %}adhérer{% endif %}
    aux Éclaireuses Éclaireurs de France{% if invitation.rate %}
    pour une découverte de {{ invitation.rate.duration }} jours
    à partir du {{ invitation.date|date:"d/m/Y" }}{% endif %}
    en tant que {{ functions_display|safe }} sur la structure {{ structure|safe }}.
</p>

<p>
    Pour remplir le bulletin d'adhésion et payer en ligne, merci de cliquer sur le lien suivant :<br>
    <a href="{{ url }}">{{ url }}</a>
</p>

<p>
    Si vous ne souhaitez pas adhérer vous pouvez refuser cette invitation en cliquant sur le lien suivant :<br>
    <a href="{{ decline_url }}">{{ decline_url }}</a>
</p>

<p>
    Pour toute question concernant cette invitation, merci de contacter en priorité la structure locale :<br>
    {{ structure.type }} {{ structure.name }} -
    Email : <a href="mailto:{{ structure.public_email }}">{{ structure.public_email }}</a> -
    Tél. : <a href="tel:{{ structure.public_phone }}">{{ structure.public_phone_display }}</a>
</p>

<p>
    A défaut, il est également possible de contacter le secrétariat national :<br>
    Email : <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> -
    Tél. : <a href="{{ settings.SUPPORT_PHONE.as_rfc3966 }}">{{ settings.SUPPORT_PHONE }}</a>
</p>

<p>
    Amicalement,
</p>

<p>
    Les Éclaireuses Éclaireurs de France
</p>

</body>
</html>