{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Modifier l'invitation{% if form.instance.person %} de {{ form.instance.person }}{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        {% if form.has_age_warning %}
            <div class="checkbox"><label><input type="checkbox" name="force_age"> Ignorer l'avertissement sur l'âge.</label></div>
        {% elif form.force_age %}
            <input type="hidden" name="force_age" value="on">
        {% endif %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var rate_select = $('#id_rate');
    function update_date() {
        $('#div_id_date').toggle(rate_select.val() != '');
    }
    rate_select.change(function() {
        update_date();
    })
    update_date();

    $('input[name="filters"]').val(sessionStorage.getItem("invitation_filters") || "");
</script>

{% endblock js %}
