{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container invitation-create">

    <h1>Inviter à adhérer en ligne</h1>

    <div class="container"><div class="row">

        <div class="col-md-4">
            <a href="{% url 'invitation_create_list' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Renouvellements
            </a>
            <p>
                En cochant dans la liste des adhérent·e·s de votre structure la saison précédente.
            </p>
        </div>

        <div class="col-md-4">
            <a href="{% url 'invitation_create_old' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Parent ou Ancienn·e adhérent·e
            </a>
            <p>
                En cherchant un·e responsable légal·e ou un·e ancien·ne adhérant·e à partir de son nom ou de son numéro.
                Il ou elle peut appartenir à une autre structure que la votre, ou avoir fait une coupure.
            </p>
        </div>

        <div class="col-md-4">
            <a href="{% url 'invitation_create_new' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Nouveaux·elles adhérent·es
            </a>
            <p>
                Uniquement pour les personnes n'ayant jamais été adhérente EEDF et n'ayant jamais
                été responsable légal·e d'un·e adhérent·e auparavant.
                Il suffit de connaître leurs adresses email.
            </p>
        </div>

        <p>
            <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        </p>

    </div></div>

</div>

{% endblock content %}
