{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	{% if invitation.declined %}

	<h1>Refuser l'invitation</h1>

    <p>L'invitation à adhérer aux EEDF a bien été refusée.</p>

	{% else %}

	<h1>Refuser l'invitation ?</h1>

	<p>Je suis sûr·e de vouloir refuser l'invitation.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Refuser</button>
	</form>

	{% endif %}

</div>

{% endblock content %}
