{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Renvoyer l'invitation ?</h1>

	<p>Oui, je suis sûr de vouloir renvoyer l'invitation à <a href="mailto:{{ invitation.email }}">{{ invitation.email }}</a>.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Renvoyer</button>
	</form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("invitation_filters") || "");
</script>

{% endblock js %}
