{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Inviter des nouveaux·elles adhérent·es à adhérer en ligne</h1>

        {% if wizard.steps.current == 'adhesion' %}
            <div class="alert alert-warning">
                <ul>
                    <li>Afin de ne pas créer de doublons, ce formulaire ne doit être utilisé que pour les personnes n'ayant pas déjà adhéré aux EEDF.</li>
                    <li>Vous pouvez inviter plusieurs personnes en une seule fois, sous réserve qu'elles aient la même fonction.</li>
                </ul>
            </div>
        {% endif %}

        <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

        <form class="wizard" method="POST" novalidate>
            {{ wizard.management_form }}
            {% crispy wizard.form %}
            <input type="hidden" name="filters">
            {% if request.GET.back %}
                <a href="{{ request.GET.back }}" class="btn btn-default">
            {% else %}
                <a href="{% url 'invitation_list' %}" class="cancel-link btn btn-default">
            {% endif %}
                <span class="glyphicon glyphicon-remove-circle"></span> Annuler
            </a>
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Début
                </button>
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Précédent
                </button>
            {% endif %}
            <button type="submit" name="next" class="btn btn-primary pull-right">
                {% if wizard.steps.current == wizard.steps.last %}
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer
                {% else %}
                    <span class="glyphicon glyphicon-forward"></span> Suivant
                {% endif %}
            </button>
        </form>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });

    var rate_select = $('#id_adhesion-rate');
    function update_date() {
        $('#div_id_adhesion-date').toggle(rate_select.val() != '');
    }
    rate_select.change(function() {
        update_date();
    })
    update_date();

    $('input[name="filters"]').val(sessionStorage.getItem("invitation_filters") || "");
    $('.cancel-link').attr('href', "{% url 'invitation_list' %}" + (sessionStorage.getItem("invitation_filters") || ""));
</script>

{% endblock js %}
