{% extends 'members/base.html' %}
{% load crispy_forms_tags members %}

{% block content %}

<div class="container invitation-list-form">

    <h1>Inviter les anciens adhérent·es</h1>

    {% crispy filter.form %}

    {% if form.errors %}
        <div class="alert alert-danger"><ul>
            {% for f in form %}
                {% if f.errors %}
                    {% for field, error in f.errors.items %}
                        <li>{{ f.person.initial }} : {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul></div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="vertical-align: middle;;">Nom</th>
                    <th style="vertical-align: middle;">Prénom</th>
                    <th style="vertical-align: middle;">Numéro</th>
                    <th style="vertical-align: middle;">Email</th>
                    <th style="vertical-align: middle;">Équipe</th>
                    <th style="vertical-align: middle;">Fonction</th>
                    <th style="text-align: center;" id="th-all">Inviter<br><input type="checkbox"></th>
                </tr>
            </thead>
            <tbody>
                {% for f in form %}
                    <tr{% if f.errors %} class="danger"{% endif %}>
                        <td style="vertical-align: middle;">
                            {{ f.person }}
                            <a href="{% url 'person_detail' f.person.initial.pk %}">
                                {{ f.person.initial.last_name }}
                            </a>
                        </td>
                        <td style="vertical-align: middle;">{{ f.person.initial.first_name }}</td>
                        <td style="vertical-align: middle;">{{ f.person.initial.adherent.id_str }}</td>
                        <td>{{ f.email|as_crispy_field }}</td>
                        {% if f.current_functions %}
                        <td style="vertical-align: middle;">{% for function in f.current_functions %}{{ function.team }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td style="vertical-align: middle;">{% for function in f.current_functions %}{{ function }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        {% else %}
                        <td>
                            {{ f.team|as_crispy_field }}
                            {% if f.has_age_warning %}
                                <div class="checkbox"><label><input type="checkbox" name="force_age{{ f.person.initial.pk }}"> Ignorer l'avertissement sur l'âge.</label></div>
                            {% elif f.force_age %}
                                <input type="hidden" name="force_age{{ f.person.initial.pk }}" value="on">
                            {% endif %}
                        </td>
                        <td>{{ f.function_config|as_crispy_field }}</td>
                        {% endif %}
                        <td class="invite" style="text-align: center; vertical-align: middle;">{{ f.invite }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} adhérent·e{{ paginator.count|pluralize }})
        </div>

        {{ form.management_form }}
        {{ form.media }}

        <div style="margin-top: 20px;">
            <input type="hidden" name="filters">
            <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
            <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
        </div>
    </form>

</div>

{% endblock content %}

{% block js %}

{{ block.super }}

<script>
    $('#filter select').change(function() {$('#filter').submit()});

    $(".invite").click(function() {
        var checkbox = $(this).find('input');
        checkbox.prop('checked', !checkbox.prop('checked'));
        $('#th-all input').prop('checked', $(".invite input:not(:checked)").length == 0);
    });
    $("#th-all").click(function() {
        $("#th-all input, .invite input").prop('checked', !$("#th-all input").prop('checked'));
    });
    $("#th-all input").click(function() {
        $(".invite input").prop('checked', $("#th-all input").prop('checked'));
    });
    $('.invite input, #th-all input').click(function(event) {
        event.stopPropagation();
    });

    $('input[name="filters"]').val(sessionStorage.getItem("invitation_filters") || "");
</script>

{% endblock js %}
