{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ invitation.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            <a href="{% url 'invitation_send' invitation.pk %}?back={{ request.path }}" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope"></span> Renvoyer
            </a>
            {% if not invitation.is_adherent %}
                <a href="{% url 'invitation_delete' invitation.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
                <a href="{% url 'invitation_update' invitation.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Invitation de {{ invitation.email }} {{ invitation.status_label }}</h1>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ invitation.email }}">{{ invitation.email }}</a></td>
            </tr><tr>
                <th>Structure</th>
                <td><a href="{% url 'structure_detail' invitation.structure.pk %}">{{ invitation.structure }}</a></td>
            </tr><tr>
                <th>Équipe</th>
                <td>{% if invitation.team %}<a href="{% url 'team_detail' invitation.team.pk %}">{{ invitation.team }}{% endif %}</a></td>
            </tr><tr>
                <th>Fonction</th>
                <td>{{ invitation.functions_display|default:"" }}</td>
            </tr><tr>
                <th>Renouvellement de</th>
                <td>
                    {% if invitation.adhesion %}
                        <a href="{% url 'adhesion_detail' invitation.adhesion.pk %}">{{ invitation.adhesion.adherent }}</a>
                    {% elif invitation.person %}
                        <a href="{% url 'person_detail' invitation.person.pk %}">{{ invitation.person }}</a>
                    {% else %}
                        Nouvel·le adhérent·e
                    {% endif %}
                </td>
            </tr><tr>
                <th>Tarif</th>
                <td>
                    {{ invitation.rate.name|default:"Plein tarif" }}
                    {% if invitation.rate %} à partir du {{ invitation.date|date:"d/m/Y"|default:"" }}{% endif %}
                </td>
            </tr><tr>
                <th>Créée</th>
                <td>
                    {% if invitation.host %}Par <a href="{% url 'person_detail' invitation.host.pk %}">{{ invitation.host }}</a>{% endif %}
                    {% if invitation.entry_date %}le {{ invitation.entry_date|date:"d/m/Y" }}{% endif %}
                </td>
            </tr><tr>
                <th>Lien</th>
                <td>
                    <a href="{{ url }}">{{ url }}</a>
                    {% if invitation.modification_date %}envoyé le {{ invitation.modification_date|date:"d/m/Y" }}{% endif %}
                </td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'invitation_list' %}" + (sessionStorage.getItem("invitation_filters") || ""));
</script>

{% endblock js %}
