{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        {% if perms.members.add_invitation %}
            <div class="btn-toolbar title-action">
                <a href="{% url 'invitation_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Nouvelle(s) invitation(s)
                </a>
            </div>
        {% endif %}

        <h1>Invitations à adhérer en ligne</h1>

        {% crispy filter.form %}

        {% if page_obj %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Structure</th>
                    <th>Fonction</th>
                    <th>Personne</th>
                    <th>Tarif</th>
                    <th>Date</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for invitation in page_obj %}
                <tr>
                    <td><a href="{% url 'invitation_detail' invitation.pk %}">{{ invitation.email }}</a></td>
                    <td>{{ invitation.structure }}</td>
                    <td>{{ invitation.functions_display }}</td>
                    <td>
                        {% if invitation.adhesion %}
                            <a href="{% url 'adhesion_detail' invitation.adhesion.pk %}">{{ invitation.adhesion.adherent }}</a>
                        {% elif invitation.person %}
                            <a href="{% url 'person_detail' invitation.person.pk %}">{{ invitation.person }}</a>
                        {% else %}
                            Nouvel·le adhérent·e
                        {% endif %}
                    </td>
                    <td>{{ invitation.rate.name|default:"Plein tarif" }}</td>
                    <td>{{ invitation.date|date:"d/m/Y"|default:"" }}</td>
                    <td>{{ invitation.status_label }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} invitation{{ paginator.count|pluralize }})
        </div>

        {% else %}

        Aucune invitation à adhérer en ligne en cours. Tu peux en
        <a href="{% url 'invitation_create' %}">créer de nouvelles</a>.

        {% endif %}

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("invitation_filters", window.location.search);
    </script>

{% endblock js %}
