{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>
            Envoyer un rappel à
            {% if invitation.adhesion.adherent %}
                {{ invitation.adhesion.adherent }}
            {% elif invitation.person %}
                {{ invitation.person }}
            {% endif %}
        </h1>

        <p><b>Destinataire :</b> <a href="mailto:{{ to }}">{{ to }}</a></p>
        <p><b>Sujet :</b> {{ subject }}</p>
        <p><b>Message : </b></p>
        <p>
            {{ message|linebreaks }}
        </p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-envelope"></span> Envoyer
            </button>
        </form>

    </div>

{% endblock content %}
