{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">
        <h1>Journal</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date{% if request.GET.o == 'timestamp' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Auteur·ice{% if request.GET.o == 'actor' %} ▼{% endif %}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in page_obj %}
                <tr>
                    <td>{{ entry.timestamp|date:"d/m/Y H:i:s" }}</td>
                    <td>
                        {% if entry.actor.person %}
                            <a href="{% url 'person_detail' entry.actor.person.pk %}">{{ entry.actor.person }}</a>
                        {% else %}
                            {{ entry.actor|default:"" }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entry.action == 0 %}Ajout{% endif %}
                        {% if entry.action == 1 %}Modification{% endif %}
                        {% if entry.action == 2 %}Suppression{% endif %}
                        {% if entry.action == 3 %}Consultation{% endif %}
                        {% get_model_verbose_name entry.content_type.model_class %} #{{ entry.object_id }}
                        {% for key, value in entry.changes_display_dict.items %}
                            <br>{{ key }} :
                            {% if entry.action == 1 or entry.action == 2 %}{{ value.0|default:"" }}{% endif %}
                            {% if entry.action == 1 %}→{% endif %}
                            {% if entry.action == 0 or entry.action == 1 %}{{ value.1|default:"" }}{% endif %}
                        {% endfor %}
                        {% if not entry.changes %}<br>{{ entry.changes_text }}{% endif %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} entrée{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("logentry_filters", window.location.search);
    </script>

{% endblock js %}
