{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block css %}

{{ block.super }}

<script src="https://static.systempay.fr/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
    kr-public-key="{{ BRED_JS_PUBKEY }}"
    kr-post-url-success="{% url 'adhesion_post_pay' payment.pk %}"></script>
<link rel="stylesheet" href="https://static.systempay.fr/static/js/krypton-client/V4.0/ext/classic-reset.css">
<script src="https://static.systempay.fr/static/js/krypton-client/V4.0/ext/classic.js"></script>

{% endblock css %}


{% block content %}

    <div class="container">

        <h1>
            Paiement en ligne
        </h1>

        <div class="kr-embedded mx-auto mt-10" kr-form-token="{{ bred_js_token }}">

            <!-- payment form fields -->
            <div class="kr-pan"></div>
            <div class="kr-expiry"></div>
            <div class="kr-security-code"></div>

            <!-- payment form submit button -->
            <button class="kr-payment-button"></button>

            <!-- error zone -->
            <div class="kr-form-error"></div>

        </div>

    </div>

{% endblock content %}
