{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>
            Paiement en ligne
        </h1>

        <p>
            {% if payment.adhesions|length == 1 %}
                L'adhésion de {{ payment.adhesions.get.adherent }} a bien été payée.
            {% else %}
                Les adhésions de <ul>{% for adhesion in payment.adhesions %}
                    <li>{{ adhesion.adherent }}</li>
                {% endfor %}</ul>
                ont bien été payées.
            {% endif %}
        </p>

    </div>

{% endblock content %}
