{% extends 'members/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>
            Paiement en ligne
        </h1>

        <div class="alert alert-danger">
            L'adresse email {{ payment.payer.email }} du payeur {{ payment.payer }} est incorrecte.
            Veuillez contacter votre structure locale.
        </div>

    </div>

{% endblock content %}
