<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Adhésions en ligne</strong></h1>
    </div>
    <div class="panel-body text-center">
        <span class="number">{{ online }}</span>
        <span class="percent {% if online_diff < 0 %}negative{% endif %}">
            {% if online_diff is None %}+∞{% elif online_diff > 0 %}+{% endif %}{{ online_diff|floatformat:"1" }}%
        </span>
    </div>
</div>
