{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>
            Paiement en ligne
        </h1>

        <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

        {% if wizard.steps.current == 'select_adhesions' %}
            <p>
                Les adhésions ci-dessous ne seront définitivement validée qu'après le paiement.
                Vous pouvez cependant attendre d'avoir saisi d'autres adhésions avant de payer
                l'ensemble des adhésions globalement.
            </p>
        {% endif %}

        <form class="wizard" method="POST" novalidate>
            {{ wizard.management_form }}
            {% crispy wizard.form %}
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Début
                </button>
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Précédent
                </button>
            {% endif %}
            <button type="submit" class="btn btn-primary pull-right">
                {% if wizard.steps.current == wizard.steps.last %}
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer
                {% else %}
                    <span class="glyphicon glyphicon-forward"></span> Suivant
                {% endif %}
            </button>
        </form>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });
</script>

{% endblock js %}
