{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>
            Réinitialisation du mot de passe de {{ person }}
        </h1>

        <p>
            Bonjour {{ person.first_name }},
        </p>
        <p>
            Tu reçois ce message en réponse à ta demande de réinitialisation du mot de passe de ton compte sur Jéito,
            le système de gestion des adhésions EEDF.
        </p>
        <p>
            Si tu es bien {{ person.first_and_nick_name }} {{ person.last_and_family_name }} et que tu viens bien de faire cette demande,
            tu peux te rendre sur cette page et choisir un nouveau mot de passe :
        </p>
        <p>
            <a href="{{ url }}">{{ url }}</a>
        </p>
        <p>
            Bonne journée,
        </p>

    </div>

{% endblock content %}
