{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Paiement de l'adhésion {{ adhesion.season_display }} de {{ person }}</h1>

        {% if payment.receipt %}
            <p class="alert alert-danger">
                Un reçu fiscal a déjà été édité pour ce paiement. Il va être annulé et un nouveau reçu va être édité.<br>
                Merci d'informer la personne concernée qu'elle ne doit pas faire usage de l'ancien reçu.
            </p>
        {% endif %}

        <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

        <form class="wizard" method="POST" novalidate>
            {{ wizard.management_form }}
            {% crispy wizard.form %}
            <input type="hidden" name="filters">
            {% if request.GET.back %}
                <a href="{{ request.GET.back }}" class="btn btn-default">
            {% else %}
                <a href="{% url 'payment_list' %}" class="cancel-link btn btn-default">
            {% endif %}
                <span class="glyphicon glyphicon-remove-circle"></span> Annuler
            </a>
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Début
                </button>
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Précédent
                </button>
            {% endif %}
            <button type="submit" name="next" class="btn btn-primary pull-right">
                {% if wizard.steps.current == wizard.steps.last %}
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer
                {% else %}
                    <span class="glyphicon glyphicon-forward"></span> Suivant
                {% endif %}
            </button>
        </form>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var method_select = $('#id_payment-method');

    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });

    function update_payment() {
        $('#receipt_warning').toggle(method_select.val() == 5);
    }

    method_select.change(function() {
        update_payment();
    });

    if (method_select.length)
        update_payment();

    $('input[name="filters"]').val(sessionStorage.getItem("payment_filters") || "");
    $('.cancel-link').attr('href', "{% url 'payment_list' %}" + (sessionStorage.getItem("payment_filters") || ""));
</script>

{% endblock js %}
