{% extends 'members/base.html' %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ payment.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'payment_delete' payment.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                <a href="{% url 'payment_update' payment.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Paiement</h1>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Montant</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ payment.date|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>
                    {% if payment.online_status == 4 %}
                        CB en ligne
                    {% else %}
                        {{ payment.get_method_display }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Payeur·se</th>
                <td>
                    {% if payment.payer %}
                        <a href="{% url 'person_detail' payment.payer.pk %}">{{ payment.payer.last_name }} {{ payment.payer.first_name }}</a>
                    {% else %}
                        Structure EEDF
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Adhérent·e</th>
                <td>
                    {% for adhesion in payment.adhesions %}
                        <a href="{% url 'person_detail' adhesion.adherent.person.pk %}">{{ adhesion.adherent.person.full_name }}</a><br>
                   {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Saison</th>
                <td>
                    {% for adhesion in payment.adhesions %}
                       {{ adhesion.season|add:-1 }}/{{ adhesion.season }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Reçu fiscal</th>
                <td>
                    {% if payment.receipt %}
                        <a href="{% url 'receipt_download' payment.receipt.pk %}">{{ payment.receipt }}</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'payment_list' %}" + (sessionStorage.getItem("payment_filters") || ""));
</script>

{% endblock js %}
