{% extends 'members/rgpd_modal.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    {{ block.super }}

    <div class="container">

        <div class="btn-toolbar title-action">
            <a href="" data-toggle="modal" data-target="#rgpd_modal" data-url="{% url 'payment_export' %}?{% get_params %}" data-title="Exporter" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
            {% comment %}
            {% if perms.members.add_payment %}
                <a href="{% url 'payment_create' %}" class="btn btn-primary title-action">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
            {% endcomment %}
        </div>

        <h1>Paiements</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Montant{% if request.GET.o == 'amount' %} ▼{% endif %}</th>
                    <th>Date{% if request.GET.o == 'date' %} ▼{% endif %}</th>
                    <th>Mode</th>
                    <th>Payeur·se{% if request.GET.o == 'payeur' %} ▼{% endif %}</th>
                    <th>Adhérent·e{% if request.GET.o == 'adherent' %} ▼{% endif %}</th>
                    <th>Saison{% if request.GET.o == 'season' %} ▼{% endif %}</th>
                    <th>Reçu fiscal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for payment in page_obj %}
                <tr>
                    <td style="text-align: right;">{{ payment.amount }}</td>
                    <td><a href="{% url 'payment_detail' payment.id %}">{{ payment.date|date:"d/m/Y" }}</a></td>
                    <td>
                        {% if payment.online_status == 4 %}
                            CB en ligne
                        {% else %}
                            {{ payment.get_method_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% if payment.payer %}
                            <a href="{% url 'person_detail' payment.payer.pk %}">{{ payment.payer.last_name }} {{ payment.payer.first_name }}</a>
                        {% else %}
                            Structure EEDF
                        {% endif %}
                    </td>
                    <td>
                        {% for adhesion in payment.adhesions %}
                            <a href="{% url 'person_detail' adhesion.adherent.person.pk %}">{{ adhesion.adherent.person.full_name }}</a><br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for adhesion in payment.adhesions %}
                            {{ adhesion.season|add:-1 }}/{{ adhesion.season }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if payment.receipt %}
                            <a href="{% url 'receipt_download' payment.receipt.pk %}">{{ payment.receipt }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% has_perm 'members.change_payment' payment as change_perm %}
                        {% if change_perm %}
                            <a href="{% url 'payment_update' payment.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                        &nbsp;
                        {% has_perm 'members.delete_payment' payment as delete_perm %}
                        {% if delete_perm %}
                            <a href="{% url 'payment_delete' payment.pk %}">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} paiement{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter input, #filter select, #filter :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("payment_filters", window.location.search);
    </script>

{% endblock js %}
