{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Supprimer le paiment ?</h1>

    {% if payment.receipt %}
        <p class="alert alert-danger">
            Un reçu fiscal a déjà été édité pour ce paiement. Il va également être annulé.<br>
            Merci d'informer la personne concernée qu'elle ne doit pas faire usage de ce reçu.
        </p>
    {% endif %}

    <p>Oui, je suis sûr de vouloir supprimer le paiement de {{ payment }}.</p>
    <p>
        Ce paiement concerne les adhésions suivantes :<ul>
            {% for adhesion in payment.adhesions %}
                <li>{{ adhesion.adherent }}</li>
            {% endfor %}
        </ul>
    </p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" value="Supprimer" class="btn btn-danger">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("payment_filters") || "");
</script>

{% endblock js %}
