{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Droits</h1>

        <div style="overflow-y: auto; height: calc(100vh - 220px); border-top: solid 1px rgb(221, 221, 221);">
        <table class="table table-striped table-bordered table-hover" style="border-top: none;">
            <thead>
                <tr style="position: sticky; top: 0px; background: white;">
                    <th>Nom ▼</th>
                    {% for config in role_configs %}
                        <td style="writing-mode: sideways-lr; width: 5em; vertical-align: bottom">
                            <b>{{ config.name }}</b>
                            <br>Pour {{ config.for_display }}
                            {% if config.only_display %}<br>Uniquement {{ config.only_display }}{% endif %}
                            {% if config.with_display %}<br>Avec {{ config.with_display }}{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for permission in permission_list %}
                {% ifchanged %}
                    <tr>
                        <th>{{ permission.content_type.external.verbose_name|default:permission.content_type.name }}</th>
                        {% for config in role_configs %}
                            <td></td>
                        {% endfor %}
                    </tr>
                {% endifchanged %}
                <tr>
                    <td>{{ permission.name }}</td>
                    {% for config in role_configs %}
                        <td style="text-align: center;">{% if permission in config.permissions.all %}<span class="glyphicon glyphicon-ok" style="position: inherit;"></span>{% endif %}</td>
                    {% endfor %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>
        </div>

    </div>

{% endblock content %}
