{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Autorisation légale de {{ adherent }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("adherent_filters") || "");

    var permission_with_bool = $('#id_permission_with_bool');

    function update_permission_with() {
        $('#div_id_permission_with').toggle(permission_with_bool.is(':checked'));
    }

    permission_with_bool.change(function() {
        update_permission_with();
    });

    update_permission_with();
</script>

{% endblock js %}
