{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Personnes</h1>

        {% crispy filter.form %}

        {% if person_list %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Numéro</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% for person in person_list %}
                <tr>
                    <td><a href="{% url 'person_detail' person.pk %}">{{ person.last_and_family_name }}</a></td>
                    <td>{{ person.first_and_nick_name }}</td>
                    <td>{{ person.id_str }}</td>
                    <td>{{ person.status_label }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} personne{{ paginator.count|pluralize }})
        </div>
        {% else %}
            {% if filter.form.q.value %}
                <p>Aucune personne n'a été trouvée selon ce critère de recherche.</p>
            {% else %}
                <p>Merci de rentrer un critère de recherche ci-dessus.</p>
            {% endif %}
        {% endif %}

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("person_filters", window.location.search);
    </script>

{% endblock js %}
