{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Ne plus passer pour {{ user }} ?</h1>

	<p>Oui, je suis sûr de plus vouloir passer pour <b>{{ user }}</b> et redevenir <b>{{ request.actual_user }}</b>.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Ne plus passer pour" class="btn btn-primary">
	</form>

</div>

{% endblock content %}
