{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Fusionner</h1>

    <h2>Étape {{ wizard.steps.step1 }} : {{ step_title }}</h2>

    {% if duplicate_adhesions %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> Attention !
        Certaines adhésions sont en doublon sur les mêmes saisons.
        Les adhésions suivantes seront annulées :
        <ul>
            {% for adhesion in duplicate_adhesions %}
                <li>{{ adhesion.season_display }} sur la structure {{ adhesion.structure }}</li>
            {% endfor %}
        </ul>
        Les fonctions, paiements et prélèvements seront cependant conservés.
    </div>
    {% endif %}

    <form class="wizard" method="POST" novalidate>
        {{ wizard.management_form }}
        {% crispy wizard.form %}
        <a href="{% url 'person_detail' remove.pk %}" class="btn btn-default">Annuler</a>
        {% if wizard.steps.prev %}
            <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-default">
                <span class="glyphicon glyphicon-backward"></span> Précédent
            </button>
        {% endif %}
        <button type="submit" class="btn btn-primary pull-right">
            {% if wizard.steps.current == wizard.steps.last %}
                <span class="glyphicon glyphicon-ok"></span> Fusionner
            {% else %}
                <span class="glyphicon glyphicon-forward"></span> Suivant
            {% endif %}
        </button>
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('#div_id_choice-keep1').click(function() {
        $('#id_choice-keep2').val(null).trigger('change');
    });
    $('#id_choice-keep2').on('select2:select', function(e) {
        $('input[name="choice-keep1"]').prop('checked', false);
    });
    $("form.wizard").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[name="next"]').click();
            return false;
        } else {
            return true;
        }
    });

    var birth_country_radio = $('input[type="radio"][name="merge-birth_country"]');
    function update_birthplace() {
        var text = $('input[type=radio][name="merge-birth_country"]:checked').parent().text().trim();
        $('#div_id_merge-birth_commune').parent().toggle(text == 'France');
        $('#div_id_merge-birth_place').parent().toggle(text != 'France');
    }
    birth_country_radio.change(function() {
        update_birthplace();
    })
    update_birthplace();
</script>

{% endblock js %}
