{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Modifier {{ person }}</h1>

    {% if protecteds or payments %}
        <div class="alert alert-warning">
            <p>Cette personne est également :</p><ul>
                {% if payments %}
                    <li>Bénéficiaire de reçus fiscaux</li>
                {% endif %}
                {% for protected in protecteds %}
                    <li>Responsable légal de {{ protected }}</li>
                {% endfor %}
            </ul></p>
            <p>Toute modification effectuée ci-dessous se répercutera sur les éléments ci-dessus.</p>
        </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var birth_country_select = $('#id_birth_country');
    function update_birthplace() {
        $('#div_id_birth_commune').parent().toggle(birth_country_select.val() == '99100');
        $('#div_id_birth_place').parent().toggle(birth_country_select.val() != '99100');
    }
    birth_country_select.change(function() {
        update_birthplace();
    })
    update_birthplace();

    $('input[name="filters"]').val(sessionStorage.getItem("person_filters") || "");
</script>

{% endblock js %}
