{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>
            Adhésion déjà prise
        </h1>

        <p>
            L'adhésion de
            {% if can_read %}
                <a href="{% url 'person_detail' person.pk %}">{{ person }}</a>
            {% else %}
                {{ person }}
            {% endif %}
            a déjà été prise.
        </p>
    </div>

{% endblock content %}
