{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

<div class="container adhesion-detail">

    <div class="btn-toolbar title-action">
        {% if can_masquerade_person and person.user %}
            <a href="{% url 'masquerade' person.user.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-sunglasses"></span> Passer pour
            </a>
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'password_reset_message' person.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span> Mot de passe
            </a>
        {% endif %}
        {% if perms.members.merge_person %}
            <a href="{% url 'person_deduplicate' person.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-resize-small"></span> Fusionner
            </a>
        {% endif %}
        {% if not adhesion.is_current_full_rate and not adherent.is_blocked and perms.members.add_invitation %}
            <a href="{% url 'invitation_create_old' %}?person={{  person.pk }}&back={{ request.path }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-hand-right"></span> Inviter
            </a>
            <a href="{% url 'adhesion_renew' person.pk %}?back={{ request.path }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-repeat"></span> Renouveler
            </a>
        {% endif %}
    </div>

    <h1>
        {{ person }} {{ person.status_label }}
    </h1>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_person" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Personne</a></li>
        {% if can_view_person_guardian and person.birthdate and person.is_minor %}
            <li role="presentation"><a href="#tab_guardians" data-toggle="tab"><span class="glyphicon glyphicon-link"></span> Responsables légaux</a></li>
        {% endif %}
        {% if can_view_person_guardian and person.protecteds %}
            <li role="presentation"><a href="#tab_protecteds" data-toggle="tab"><span class="glyphicon glyphicon-link"></span> Enfants</a></li>
        {% endif %}
        {% if adherent and can_view_adhesion %}
            <li role="presentation"><a href="#tab_adhesion" data-toggle="tab"><span class="glyphicon glyphicon-tent"></span> Adhésion</a></li>
            <li role="presentation"><a href="#tab_contribution" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span> Cotisation</a></li>
        {% endif %}
        {% if can_view_employment %}
            <li role="presentation"><a href="#tab_employment" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span>  Contrat de travail</a></li>
        {% endif %}
        {% if can_view_function %}
            <li role="presentation"><a href="#tab_functions" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Fonctions</a></li>
        {% endif %}
        {% if can_view_payment %}
            <li role="presentation"><a href="#tab_payments" data-toggle="tab"><span class="glyphicon glyphicon-credit-card"></span> Paiements</a></li>
        {% endif %}
        {% if can_view_invitation %}
            <li role="presentation"><a href="#tab_invitations" data-toggle="tab"><span class="glyphicon glyphicon-send"></span> Invitations</a></li>
        {% endif %}
        {% if can_view_role %}
            <li role="presentation"><a href="#tab_roles" data-toggle="tab"><span class="glyphicon glyphicon-lock"></span> Accès</a></li>
        {% endif %}
        {% if can_change_person %}
            <li role="log"><a href="#tab_log" data-toggle="tab"><span class="glyphicon glyphicon-backward"></span> Journal</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tab_person">
            {% if can_change_person %}
                <a href="{% url 'person_update' person.pk %}?back={{ request.path }}%23person" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
            <h2>Personne</h2>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Nom d'usage{% if person.family_name %} (nom de naissance){% endif %}</th>
                    <td>{{ person.last_and_family_name }}</td>
                </tr><tr>
                    <th>Prénom{% if person.nickname %} (surnom){% endif %}</th>
                    <td>{{ person.first_and_nick_name }}</td>
                </tr><tr>
                    <th>Genre</th>
                    <td>{{ person.get_gender_display }}</td>
                </tr>{% if can_view_person_birth %}<tr>
                    <th>Date de naissance (âge)</th>
                    <td>{{ person.birthdate|date:"d/m/Y" }}{% if person.birthdate %} ({{ person.age }} ans){% endif %}</td>
                </tr><tr>
                    <th>Lieu de naissance</th>
                    <td>{{ person.birth_place_display }}</td>
                </tr>{% endif %}{% if can_change_person %}<tr>
                    <th>Adresse</th>
                    <td>
                        {{ person.address1 }}
                        {% if person.address2 %}<br>{{ person.address2 }}{% endif %}
                        {% if person.address3 %}<br>{{ person.address3 }}{% endif %}
                        <br>{{ person.postal_code }} {{ person.city }}
                        {% if person.country %}<br>{{ person.country }}{% endif %}
                    </td>
                </tr><tr>
                    <th>Profession</th>
                    <td>{{ person.profession }}</td>
                </tr>{% endif %}{% if can_view_person_email %}<tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                        ({% if person.email_as_login %}
                        <span class="glyphicon glyphicon-lock text-success"></span> permet
                        {% else %}
                        <span class="glyphicon glyphicon-lock text-danger"></span> ne permet pas
                        {% endif %} de se connecter
                        <a href="{% url 'email_as_login' person.pk %}?back={{ request.path }}%23person">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>)
                    </td>
                </tr>{% endif %}{% if can_view_person_phone %}<tr>
                    <th>Tél. fixe</th>
                    <td><a href="{{ person.home_phone.as_rfc3966 }}">{{ person.home_phone_display }}</a></td>
                </tr><tr>
                    <th>Tél. mobile</th>
                    <td><a href="{{ person.mobile_phone.as_rfc3966 }}">{{ person.mobile_phone_display }}</a></td>
                </tr>{% endif %}{% if adherent and can_view_person_image_rights %}<tr>
                    <th>Droit à l'image</th>
                    <td>{{ person.image_rights|yesno:"Oui,Non" }}</td>
                </tr>{% endif %}
            </table>

            {% if adherent and can_view_adherent %}
                {% if can_change_adherent_status %}
                    <a href="{% url 'status_update' adherent.pk %}?back={{ request.path }}%23person" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier
                    </a>
                {% endif %}
                <h2>Adhérent·e</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Numéro</th>
                        <td>
                            {{ adherent.id_str }}
                            {% if adherent.duplicates %}(doublon{{ adherent.duplicates|length|pluralize }} : {{ adherent.duplicates_display }}){% endif %}
                        </td>
                    </tr><tr>
                        <th>Statut</th>
                        <td>
                            {{ adherent.status_text }}
                            {% if adherent.suspension_deadline %}
                                jusqu'au {{ adherent.suspension_deadline|date:"d/m/Y" }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endif %}

            {% if employee and can_view_employee %}
                {% if can_change_employee %}
                    <a href="{% url 'employee_update' employee.pk %}?back={{ request.path }}%23person" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier
                    </a>
                {% endif %}
                <h2>Salarié·e, CEE, SC</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Numéro</th>
                        <td>{{ person.employee.id_str }}</td>
                    </tr>
                    <tr>
                        <th>Email professionel</th>
                        <td><a href="mailto:{{ person.employee.email }}">{{ person.employee.email }}</a></td>
                    </tr>
                    <tr>
                        <th>Tél. professionnel</th>
                        <td><a href="{{ person.employee.phone.as_rfc3966 }}">{{ person.employee.phone_display }}</a></td>
                    </tr>
                </table>
            {% endif %}
        </div>

        {% if can_view_person_guardian and person.birthdate and person.is_minor %}
            <div role="tabpanel" class="tab-pane" id="tab_guardians">
                {% if person.legal_guardian1 %}
                    {% if can_change_person_guardian %}
                        <a href="{% url 'guardian_update' person.pk 1 %}?back={{ request.path }}%23guardians" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                    {% endif %}
                {% else %}
                    {% if can_add_person_guardian %}
                        <a href="{% url 'guardian_create' person.pk 1 %}?back={{ request.path }}%23guardians" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter
                        </a>
                    {% endif %}
                {% endif %}
                <h2>
                    Responsable légal 1
                    {% if can_delete_person_guardian and person.legal_guardian1 and person.legal_guardian2 %}
                        <a href="{% url 'guardian_delete' person.pk 1 %}?back={{ request.path }}%23guardians">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </a>
                    {% endif %}
                </h2>
                {% if person.legal_guardian1 %}
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Personne</th>
                            <td>
                                <a href="{% url 'person_detail' person.legal_guardian1.pk %}">{{ person.legal_guardian1 }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Naissance</th>
                            <td>
                                {% if person.legal_guardian1.birthdate %}Le {{ person.legal_guardian1.birthdate|date:"d/m/Y" }}{% endif %}
                                {% if person.legal_guardian1.birth_place_display %}à {{ person.legal_guardian1.birth_place_display }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {{ person.legal_guardian1.address1 }}
                                {% if person.legal_guardian1.address2 %}<br>{{ person.legal_guardian1.address2 }}{% endif %}
                                {% if person.legal_guardian1.address3 %}<br>{{ person.legal_guardian1.address3 }}{% endif %}
                                <br>{{ person.legal_guardian1.postal_code }} {{ person.legal_guardian1.city }}
                                {% if person.legal_guardian1.country %}<br>{{ person.legal_guardian1.country }}{% endif %}
                            </td>
                        </tr>
                        {% if person.legal_guardian1.profession %}
                            <tr>
                                <th>Profession</th>
                                <td>{{ person.legal_guardian1.profession }}</td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian1.email %}
                            <tr>
                                <th>Email</th>
                                <td>
                                    <a href="mailto:{{ person.legal_guardian1.email }}">{{ person.legal_guardian1.email }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian1.home_phone %}
                            <tr>
                                <th>Tél. fixe</th>
                                <td>
                                    <a href="{{ person.legal_guardian1.home_phone.as_rfc3966 }}">{{ person.legal_guardian1.home_phone_display }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian1.mobile_phone %}
                            <tr>
                                <th>Tél. mobile</th>
                                <td>
                                    <a href="{{ person.legal_guardian1.mobile_phone.as_rfc3966 }}">{{ person.legal_guardian1.mobile_phone_display }}</a>
                                </td>
                            </tr>
                        {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endif %}

                {% if person.legal_guardian2 %}
                    {% if can_change_person_guardian %}
                        <a href="{% url 'guardian_update' person.pk 2 %}?back={{ request.path }}%23guardians" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                    {% endif %}
                {% else %}
                    {% if can_add_person_guardian %}
                        <a href="{% url 'guardian_create' person.pk 2 %}?back={{ request.path }}%23guardians" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter
                        </a>
                    {% endif %}
                {% endif %}
                <h2>
                    Responsable légal 2
                    {% if can_delete_person_guardian and person.legal_guardian2 %}
                        <a href="{% url 'guardian_delete' person.pk 2 %}?back={{ request.path }}%23guardians">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </a>
                    {% endif %}
                </h2>
                {% if person.legal_guardian2 %}<tr>
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Personne</th>
                            <td>
                                <a href="{% url 'person_detail' person.legal_guardian2.pk %}">{{ person.legal_guardian2 }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Naissance</th>
                            <td>
                                {% if person.legal_guardian2.birthdate %}Le {{ person.legal_guardian2.birthdate|date:"d/m/Y" }}{% endif %}
                                {% if person.legal_guardian2.birth_place_display %}à {{ person.legal_guardian2.birth_place_display }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {{ person.legal_guardian2.address1 }}
                                {% if person.legal_guardian2.address2 %}<br>{{ person.legal_guardian2.address2 }}{% endif %}
                                {% if person.legal_guardian2.address3 %}<br>{{ person.legal_guardian2.address3 }}{% endif %}
                                <br>{{ person.legal_guardian2.postal_code }} {{ person.legal_guardian2.city }}
                                {% if person.legal_guardian2.country %}<br>{{ person.legal_guardian2.country }}{% endif %}
                            </td>
                        </tr>
                        {% if person.legal_guardian2.profession %}
                            <tr>
                                <th>Profession</th>
                                <td>{{ person.legal_guardian2.profession }}</td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian2.email %}
                            <tr>
                                <th>Email</th>
                                <td>
                                    <a href="mailto:{{ person.legal_guardian2.email }}">{{ person.legal_guardian2.email }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian2.home_phone %}
                            <tr>
                                <th>Tél. fixe</th>
                                <td>
                                    <a href="{{ person.legal_guardian2.home_phone.as_rfc3966 }}">{{ person.legal_guardian2.home_phone_display }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if person.legal_guardian2.mobile_phone %}
                            <tr>
                                <th>Tél. mobile</th>
                                <td>
                                    <a href="{{ person.legal_guardian2.mobile_phone.as_rfc3966 }}">{{ person.legal_guardian2.mobile_phone_display }}</a>
                                </td>
                            </tr>
                        {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endif %}

                {% if can_change_adherent %}
                    <a href="{% url 'permission_update' person.pk %}?back={{ request.path }}%23guardians" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier
                    </a>
                {% endif %}
                <h2>
                    Autorisation légale
                </h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Autorisé·e à rentrer seul·e</th>
                        <td>
                            {% if person.permission_alone %}Oui{% else %}Non{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Autorisé·e à rentrer accompagné·e par</th>
                        <td>
                            {{ person.permission_with|default:"-" }}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% if can_view_person_guardian and person.protecteds %}
            <div role="tabpanel" class="tab-pane" id="tab_protecteds">
                <h2>Enfants</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro</th>
                            <th>Date de naissance</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for protected in person.protecteds %}
                        <tr>
                            <td><a href="{% url 'person_detail' protected.pk %}">{{ protected.last_and_family_name }}</a></td>
                            <td>{{ protected.first_and_nick_name }}</td>
                            <td>{{ protected.adherent.id_str }}</td>
                            <td>{{ protected.birthdate|date:"d/m/Y" }}{% if protected.birthdate %} ({{ protected.age }} ans){% endif %}</td>
                            <td>{{ protected.status_label }}</td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if adherent and can_view_adhesion %}
            <div role="tabpanel" class="tab-pane" id="tab_adhesion">
                <div class="btn-toolbar title-action">
                    {% if can_delete_adhesion %}
                        <a href="{% url 'adhesion_cancel' adhesion.pk %}?back={{ request.path }}%23adhesion" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Annuler
                        </a>
                    {% endif %}
                    {% if can_download_adhesion_card %}
                        <a href="{% url 'adhesion_card' adhesion.pk %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-credit-card"></span> Télécharger la carte
                        </a>
                        <a href="{% url 'adhesion_certificate' adhesion.pk %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-download"></span> Attestation
                        </a>
                    {% endif %}
                    {% if can_change_adhesion %}
                        <a href="{% url 'adhesion_update' adhesion.pk %}?back={{ request.path }}%23adhesion" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                    {% endif %}
                </div>
                <h2>Adhésion {{ season_display }}</h2>
                {% if adhesion %}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Dates</th>
                        <td>Du {{ adhesion.begin|date:"d/m/Y" }} au {{ adhesion.end|date:"d/m/Y" }}</td>
                    </tr><tr>
                        <th>Structure</th>
                        <td><a href="{% url 'structure_detail' adhesion.structure.pk %}">{{ adhesion.structure }}</a></td>
                    </tr>
                    </tr><tr>
                        <th>Signataire</th>
                        <td>{{ adhesion.signatory }}</td>
                    </tr>
                </table>
                {% else %}
                <p>Non adhérent·e</p>
                {% endif %}
                <a href="{% url 'adhesion_list' %}?adherent={{ adherent.id }}&season=&o=date">Voir les anciennes adhésions</a>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_contribution">
                {% if can_change_adhesion %}
                    <a href="{% url 'contribution_update' adhesion.pk %}?back={{ request.path }}%23contribution" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier
                    </a>
                {% endif %}
                <h2>Cotisation {{ season_display }}</h2>
                {% if adhesion %}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Tarif</th>
                        <td>{{ adhesion.rate.label }}</td>
                    </tr><tr>
                        <th>Montant</th>
                        <td>{% if adhesion.effective_rate is not None %}{{ adhesion.effective_rate }} €{% endif %}</td>
                    </tr><tr>
                        <th>Don</th>
                        <td>{% if adhesion.donation %}{{ adhesion.donation }} €{% endif %}</td>
                    </tr>
                </table>
                {% else %}
                <p>Non adhérent·e</p>
                {% endif %}

                {% if can_change_adhesion and not adhesion.is_paid %}
                    <div class="btn-toolbar pull-right">
                        <a href="{% url 'payment_create' adhesion.pk %}?back={{ request.path }}%23contribution" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter
                        </a>
                    </div>
                {% endif %}
                <h2>Paiement de la cotisation {{ season_display }}</h2>
                {% if adhesion %}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Montant</th>
                        <th>Affectation adhésion</th>
                        <th>Affectation don</th>
                        <th>Moyen de paiement</th>
                        <th>Date</th>
                        <th>Payeur</th>
                        <th>Reçu fiscal</th>
                        <th></th>
                    </tr>
                    {% for payment in adhesion_payments %}
                        <tr>
                            <td>
                                {{ payment.amount }} €
                            </td>
                            <td>
                                {% for allocation in payment.allocation_set.all %}
                                    {% if allocation.adhesion == adhesion and allocation.category == 1 %}{{ allocation.amount }} €{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for allocation in payment.allocation_set.all %}
                                    {% if allocation.adhesion == adhesion and allocation.category == 2 %}{{ allocation.amount }} €{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ payment.get_method_display }}
                                {% if payment.online_status == 4 %} en ligne{% endif %}
                            </td>
                            <td>
                                {{ payment.date|date:"d/m/Y" }}
                            </td>
                            <td>
                                {% if not payment.payer %}
                                    Structure EEDF
                                {% else %}
                                    <a href="{% url 'person_detail' payment.payer.pk %}">{{ payment.payer }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% with receipt=payment.receipt %}
                                    {% if receipt %}
                                        {% if receipt.download %}
                                            Téléchargé le {{ receipt.download|date:'d/m/Y' }} à {{ receipt.download|date:'H:i' }}
                                        {% elif receipt.sending %}
                                            Envoyé le {{ receipt.sending|date:'d/m/Y' }} à {{ receipt.sending|date:'H:i' }}
                                        {% else %}
                                            Édité
                                        {% endif %}
                                        <div class="btn-toolbar pull-right">
                                            <a href="{% url 'receipt_download' receipt.pk %}" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-download"></span> Télécharger
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td>
                                {% if can_delete_payment and payment.online_status == 1 %}
                                    <a href="{% url 'payment_delete' payment.pk %}?back={{ request.path }}%23contribution">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if can_change_payment %}
                                    <a href="{% url 'payment_update' payment.pk %}?back={{ request.path }}%23contribution">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Non adhérent·e</p>
                {% endif %}
                <a href="{% url 'payment_list' %}?adherent={{ adherent.id }}&season=&o=-date">Voir les anciens paiements</a>

                <h2>Prélèvements {{ season_display }}</h2>
                {% if adhesion %}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Opération</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                    {% for entry in adhesion.entry_set.all %}
                        <tr>
                            <td>
                                {% if entry.category == 1 and entry.contribution > 0 %}
                                    Prélèvement de la cotisation
                                {% elif entry.category == 1 and entry.contribution < 0 %}
                                    Remboursement de la cotisation
                                {% elif entry.category == 2 %}
                                    Reversement du don
                                {% endif %}
                            </td>
                            <td>
                                {% if entry.category == 1 %}
                                    {{ entry.contribution }} €
                                {% elif entry.category == 2 %}
                                    {{ entry.donation_positive }} €
                                {% endif %}
                            </td>
                            <td>
                                {{ entry.transfer.order.date|date:'d/m/Y' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Non adhérent·e</p>
                {% endif %}
            </div>
        {% endif %}

        {% if can_view_function %}
            <div role="tabpanel" class="tab-pane" id="tab_functions">
                {% if can_add_function %}
                    <a href="{% url 'function_create' %}?adhesion={{ adhesion.pk }}&back={{ request.path }}%23function" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                {% endif %}
                <h2>Fonctions actuelles</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Fonction</th>
                        <th>Structure</th>
                        <th>Équipe</th>
                        <th>Du</th>
                        <th>Au</th>
                        <th></th>
                    </tr>
                    {% for function in functions %}
                        <tr>
                            <td><a href="{% url 'function_detail' function.pk %}">{{ function }}</a></td>
                            <td><a href="{% url 'structure_detail' function.team.structure.pk %}">{{ function.team.structure }}</a></td>
                            <td><a href="{% url 'team_detail' function.team.pk %}">{{ function.team }}</a></td>
                            <td>{{ function.begin|date:"d/m/Y" }}</td>
                            <td>{{ function.end|date:"d/m/Y" }}</td>
                            <td>
                                {% has_perm 'members.change_function' function as change_perm %}
                                {% if not function.owner and change_perm %}
                                    <a href="{% url 'function_update' function.pk %}?back={{ request.path }}%23functions">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% has_perm 'members.delete_function' function as delete_perm %}
                                {% if not function.owner and delete_perm %}
                                    <a href="{% url 'function_delete' function.pk %}?back={{ request.path }}%23functions">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{% url 'function_list' %}?person={{ person.id }}&season=&o=date">Voir les anciennes fonctions</a>
            </div>
        {% endif %}

        {% if can_view_employment %}
            <div role="tabpanel" class="tab-pane" id="tab_employment">
                {% if can_add_employment %}
                    <a href="{% url 'employment_create' person.pk %}?back={{ request.path }}%23employment" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                {% endif %}
                <h2>Contrat de travail actuel</h2>
                {% if employments %}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Type</th>
                        <th>Intitulé</th>
                        <th>Du</th>
                        <th>Au</th>
                        <th></th>
                    </tr>
                    {% for employment in employments %}
                        <tr>
                            <td>{{ employment.get_type_display }}</td>
                            <td>{{ employment.name }}</td>
                            <td>{{ employment.begin|date:"d/m/Y" }}</td>
                            <td>{{ employment.end|date:"d/m/Y" }}</td>
                            <td>
                                {% if perms.members.delete_employment %}
                                    <a href="{% url 'employment_delete' employment.pk %}?back={{ request.path }}%23employment">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if perms.members.change_employment %}
                                    <a href="{% url 'employment_update' employment.pk %}?back={{ request.path }}%23employment">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Pas de contrat de travail</p>
                {% endif %}
                <a href="{% url 'employment_list' %}?employee={{ employee.id }}&season=&o=begin">Voir les anciens contrats de travail</a>
            </div>
        {% endif %}

        {% if can_view_payment %}
            <div role="tabpanel" class="tab-pane" id="tab_payments">
                <h2>Paiements {{ season_display }}</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Montant</th>
                        <th>Affectations</th>
                        <th>Moyen de paiement</th>
                        <th>Date</th>
                        <th>Reçu fiscal</th>
                        <th></th>
                    </tr>
                    {% for payment in payments %}
                        <tr>
                            <td>
                                {{ payment.amount }} €
                            </td>
                            <td>
                                {% for allocation in payment.allocation_set.all %}
                                    {{ allocation.amount }} € :
                                    {% if allocation.category == 1 %}
                                        cotisation
                                    {% elif allocation.category == 2 %}
                                        don
                                    {% endif %}
                                    {{ allocation.adhesion.season_display }}
                                    de <a href="{% url 'person_detail' allocation.adhesion.adherent.person.pk %}">{{ allocation.adhesion.adherent }}</a>
                                    {% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ payment.get_method_display }}
                                {% if payment.online_status == 4 %} en ligne{% endif %}
                            </td>
                            <td>
                                {{ payment.date|date:"d/m/Y" }}
                            </td>
                            <td>
                                {% with receipt=payment.receipt %}
                                    {% if receipt %}
                                        {% if receipt.download %}
                                            Téléchargé le {{ receipt.download|date:'d/m/Y' }} à {{ receipt.download|date:'H:i' }}
                                        {% elif receipt.sending %}
                                            Envoyé le {{ receipt.sending|date:'d/m/Y' }} à {{ receipt.sending|date:'H:i' }}
                                        {% else %}
                                            Édité
                                        {% endif %}
                                        <div class="btn-toolbar pull-right">
                                            <a href="{% url 'receipt_download' receipt.pk %}" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-download"></span> Télécharger
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td>
                                {% if can_delete_payment and not payment.receipt and payment.online_status == 1 %}
                                    <a href="{% url 'payment_delete' payment.pk %}?back={{ request.path }}%23payments">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if can_change_payment and not payment.receipt %}
                                    <a href="{% url 'payment_update' payment.pk %}?back={{ request.path }}%23payments">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{% url 'payment_list' %}?payer={{ person.id }}&season=&o=-date">Voir les anciens paiements</a>
            </div>
        {% endif %}

        {% if can_view_payment %}
            <div role="tabpanel" class="tab-pane" id="tab_payments">
                <h2>Paiements {{ season_display }}</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Montant</th>
                        <th>Affectations</th>
                        <th>Moyen de paiement</th>
                        <th>Date</th>
                        <th>Reçu fiscal</th>
                        <th></th>
                    </tr>
                    {% for payment in payments %}
                        <tr>
                            <td>
                                {{ payment.amount }} €
                            </td>
                            <td>
                                {% for allocation in payment.allocation_set.all %}
                                    {{ allocation.amount }} € :
                                    {% if allocation.category == 1 %}
                                        cotisation
                                    {% elif allocation.category == 2 %}
                                        don
                                    {% endif %}
                                    {{ allocation.adhesion.season_display }}
                                    de <a href="{% url 'person_detail' allocation.adhesion.adherent.person.pk %}">{{ allocation.adhesion.adherent }}</a>
                                    {% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ payment.get_method_display }}
                                {% if payment.online_status == 4 %} en ligne{% endif %}
                            </td>
                            <td>
                                {{ payment.date|date:"d/m/Y" }}
                            </td>
                            <td>
                                {% with receipt=payment.receipt %}
                                    {% if receipt %}
                                        {% if receipt.download %}
                                            Téléchargé le {{ receipt.download|date:'d/m/Y' }} à {{ receipt.download|date:'H:i' }}
                                        {% elif receipt.sending %}
                                            Envoyé le {{ receipt.sending|date:'d/m/Y' }} à {{ receipt.sending|date:'H:i' }}
                                        {% else %}
                                            Édité
                                        {% endif %}
                                        <div class="btn-toolbar pull-right">
                                            <a href="{% url 'receipt_download' receipt.pk %}" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-download"></span> Télécharger
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td>
                                {% if can_delete_payment and not payment.receipt and payment.online_status == 1 %}
                                    <a href="{% url 'payment_delete' payment.pk %}?back={{ request.path }}%23payments">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if can_change_payment and not payment.receipt %}
                                    <a href="{% url 'payment_update' payment.pk %}?back={{ request.path }}%23payments">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{% url 'payment_list' %}?payer={{ person.id }}&season=&o=-date">Voir les anciens paiements</a>
            </div>
        {% endif %}

        {% if can_view_invitation %}
            <div role="tabpanel" class="tab-pane" id="tab_invitations">
                <h2>Invitations {{ season_display }}</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Email</th>
                        <th>Structure</th>
                        <th>Fonction</th>
                        <th>Tarif</th>
                        <th>Date</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                    {% for invitation in invitations %}
                        <tr>
                            <td><a href="mailto:{{ invitation.email }}">{{ invitation.email }}</a></td>
                            <td>{{ invitation.structure }}</td>
                            <td>{{ invitation.functions_display }}</td>
                            <td>{{ invitation.rate.name|default:"Plein tarif" }}</td>
                            <td>{{ invitation.date|date:"d/m/Y"|default:"" }}</td>
                            <td>{{ invitation.status_label }}</td>
                            <td>
                                {% if can_delete_invitation %}
                                    <a href="{% url 'invitation_delete' invitation.pk %}?back={{ request.path }}%23invitations">
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                    </a>
                                {% endif %}
                                &nbsp;
                                {% if can_change_invitation %}
                                    <a href="{% url 'invitation_update' invitation.pk %}?back={{ request.path }}%23invitations">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if can_view_role %}
        <div role="tabpanel" class="tab-pane" id="tab_roles">
                {% if can_add_role %}
                    <a href="{% url 'role_create' person.pk %}?back={{ request.path }}%23roles" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                {% endif %}
                <h2>Accès</h2>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Rôle</th>
                        <th>Périmètre</th>
                        <th>Délégation</th>
                    </tr>
                    {% for key, roles in person.roles.items %}{% with config=key.0 team=key.1 active=key.2 %}
                        <tr>
                            <td {% if not active %}style="text-decoration: line-through;"{% endif %}>
                                {{ config.name }}
                                {% if config.description %}
                                    <span style="color: grey;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="{{ config.description }}"></span></td>
                                {% endif %}
                            <td>
                                {% if config.for_self %}
                                    <a href="{% url 'person_detail' person.pk %}">{{ person }}</a>{% if person.protecteds %}, {% for protected in person.protecteds %}<a href="{% url 'person_detail' protected.pk %}">{{ protected }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                                {% endif %}
                                {% if config.for_team %}
                                    <a href="{% url 'team_detail' team.pk %}">{{ team }} {{ team.structure }}</a>
                                {% endif %}
                                {% if config.for_structure and rôle.for_sub_structures %}
                                {% elif config.for_structure %}
                                    <a href="{% url 'structure_detail' team.structure.pk %}">{{ team.structure }}</a>
                                {% elif config.for_sub_structures %}
                                    Sous-structure de <a href="{% url 'structure_detail' team.structure.pk %}">{{ team.structure }}</a>
                                {% endif %}
                                {% if config.for_all %}
                                    Association
                                {% endif %}
                                {% if config.only_electeds %}
                                    Les élus
                                {% endif %}
                            </td>
                            <td>
                                {% for role in roles %}
                                    {% if role.proxy == person %}
                                        {% if role.holder %}
                                            Délégué par <a href="{% url 'person_detail' role.holder.pk %}">{{ role.holder }}</a>
                                            {% if can_delete_delegation %}
                                            <a href="{% url 'role_delete_delegation' role.pk %}?back={{ request.path }}%23roles">
                                                <span class="glyphicon glyphicon-trash text-danger"></span>
                                            </a>
                                            {% endif %}
                                        {% else %}
                                            Attribué manuellement
                                            {% if can_delete_role %}
                                                <a href="{% url 'role_delete' role.pk %}?back={{ request.path }}%23roles">
                                                    <span class="glyphicon glyphicon-trash text-danger"></span>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if role.holder == person %}
                                        Délégué à <a href="{% url 'person_detail' role.proxy.pk %}">{{ role.proxy }}</a>
                                        {% if can_delete_delegation %}
                                            <a href="{% url 'role_delete_delegation' role.pk %}?back={{ request.path }}%23roles">
                                                <span class="glyphicon glyphicon-trash text-danger"></span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                                {% if can_add_delegation and config.delegation and key in person.holder_roles %}
                                    <div class="btn-toolbar pull-right">
                                        <a href="{% url 'role_create_delegation' person.pk config.pk team.pk %}?back={{ request.path }}%23roles" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span> Déléguer
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}{% endfor %}
                </table>
            </div>
        {% endif %}

        {% if can_change_person %}
        <div role="tabpanel" class="tab-pane" id="tab_log">
            <h2>Journal {{ season_display }}</h2>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Date</th>
                    <th>Auteur·ice</th>
                    <th>Action</th>
                </tr>
                {% for entry in logentries %}
                    <tr>
                        <td>{{ entry.timestamp|date:"d/m/Y H:i:s" }}</td>
                        <td>{{ entry.actor|default:"" }}</td>
                        <td>
                            {% if entry.action == 0 %}Ajout{% endif %}
                            {% if entry.action == 1 %}Modification{% endif %}
                            {% if entry.action == 2 %}Suppression{% endif %}
                            {% get_model_verbose_name entry.content_type.model_class %} #{{ entry.object_id }}
                            {% for key, value in entry.changes_display_dict.items %}
                                <br>{{ key }} :
                                {% if entry.action == 1 or entry.action == 2 %}{{ value.0|default:"" }}{% endif %}
                                {% if entry.action == 1 %}→{% endif %}
                                {% if entry.action == 0 or entry.action == 1 %}{{ value.1|default:"" }}{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ person.id }}">Voir les anciens journeaux</a>
        </div>
        {% endif %}

    </div>

    <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()

        // Javascript to enable link to tab
        var hash = document.location.hash;
        if (!hash) hash = 'person';
        $('.nav-tabs a[href="' + hash.replace('#', '#tab_') + '"]').tab('show');

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#tab_", "#");
        });
    })

    $(".list-link").attr("href", "{% url 'person_list' %}" + (sessionStorage.getItem("person_filters") || ""));
</script>

{% endblock js %}