{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Tarifs</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Tarif</th>
                <th>Après défisc.</th>
                <th>Tranche</th>
                <th>Catégorie</th>
                <th>Structures associées</th>
                <th>Fonctions associées</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in rate_list %}
                <tr>
                    <td align="right">{{ rate.order }}.</td>
                    <td>{{ rate.name }}</td>
                    <td align="right">{{ rate.rate }} €</td>
                    <td align="right">{% if rate.rate_after_tax %}{{ rate.rate_after_tax }} €{% endif %}</td>
                    <td>{{ rate.bracket }}</td>
                    <td>{{ rate.get_category_display }}</td>
                    <td>
                        {% for type in rate.structure_types.all %}
                            <a href="{% url 'admin:members_structuretype_change' type.pk %}">{{ type }}{% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for function in rate.function_set.all %}
                            <a href="{% url 'admin:members_function_change' function.pk %}">{{ function }}</a>{% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}
