<html>
<head>
<style>
body {
    font-family: Dejavu Sans;
    font-size: 9pt;
}
@page {
    margin: 0;
}
</style>
</head>
<body>
<img src="./members/templates/members/img/logo.png" style="position: absolute; left: 1cm; top: 1cm; width: 3.5cm;">
<div style="position: absolute; left: 13cm; top: 1cm;">
<span style="color: #bf0000; font-weight: bold;">Éclaireuses Éclaireurs de France</span><br>
12 place Georges Pompidou<br>
93167 Noisy le Grand Cedex<br>
Tél. : 01 48 15 17 66<br>
<a href="https://www.eedf.fr" style="color: black; font-weight: bold; text-decoration: none;">www.eedf.fr</a>
</div>
<img src="./members/templates/members/img/merci.png" style="position: absolute; left: 1cm; top: 5.5cm; width: 3.5cm;">
<img src="./etc/receipt/photo.jpg" style="position: absolute; left: 1cm; top: 7.5cm; width: 3.5cm;">
<div style="position: absolute; left: 5cm; top: 5.5cm; width: 15cm;">
<p>Noisy-le-grand, le {{ today }}</p>
<p>Chère Amie, Cher Ami des <b>EEDF</b>,</p>
<p>Nous avons bien reçu vos dons en faveur de notre association et de ses actions.</p>
<p>Au nom de tous les <b>Éclés</b>, je tiens d’abord à vous en remercier personnellement, chaleureusement et de tout cœur.</p>
<p>Vous trouverez ci-dessous votre <b>reçu fiscal</b>. Conservez-le précieusement. Joint à votre prochaine déclaration de
revenus, il vous permet une déduction d’impôts de 66 %, soit <b>les deux tiers du montant de vos versements</b>.</p>
<p>Grâce à votre générosité, nous pourrons continuer à agir pour l’éducation des jeunes, développer les <b>EEDF</b>,
favoriser la solidarité interne au mouvement laïque du Scoutisme Français, créer de nouvelles implantations et
multiplier les projets sur les thèmes qui nous tiennent à cœur comme la protection de l’environnement ou encore
l’accueil des jeunes et adultes porteurs de handicap.</p>
<p>En ce début de XXIe siècle, former des citoyens libres, à la fois ouverts, responsables et solidaires est une des
causes les plus nobles qu’il est essentiel de défendre. Pour nous, c’est une priorité absolue&nbsp;!</p>
<p>Encore mille fois merci pour votre geste, pour votre engagement et votre présence active à nos côtés.</p>
<p>De notre part à tous, recevez l’expression sincère de nos sentiments dévoués</p>
</div>
<img src="./etc/receipt/signature.png" style="position: absolute; left: 9cm; top: 16cm; width: 1.5cm;">
<div style="position: absolute; left: 12.5cm; top: 17.5cm;">
<b>Louise PILLET</b><br>
Présidente des Éclaireuses Éclaireurs de France
</div>
<div style="position: absolute; left: 1cm; top: 19cm; width: 19cm; border-top: dashed 1pt;">
<p style="font-size: 14pt; font-weight: bold; text-align: center; color: #bf0000; margin-top: .1cm; margin-bottom: 0;">REÇU FISCAL</p>
<p style="font-weight: bold; text-align: center; margin-top: .1cm;">[ À conserver pour joindre à votre déclaration de revenus ]</p>
</div>
<div style="position:absolute; left: 1cm; top: 20cm; width: 9.3cm;">
    <p style="background-color: #bf0000; color: white; width: 100%; font-size: 12pt; padding: .1cm;">BÉNÉFICIAIRE</p>
    <p><span style="font-weight: bold; color: #bf0000;">Éclaireuses Éclaireurs de France</span><br>
    12 place Georges Pompidou<br>
    93167 Noisy le Grand Cedex<br>
    Tél. : 01 48 15 17 66<br>
    <a href="https://www.eedf.fr" style="color: black; font-weight: bold; text-decoration: none;">www.eedf.fr</a></p>
    <p style="border-top: #bf0000 .5pt solid; padding-top: .2cm; margin-top: 0;"><span style="font-weight: bold; color: #bf0000;">OBJET SOCIAL :</span><br>
    Association laïque du scoutisme français dont le but est la formation
    des enfants et des jeunes.<br>
    L’Association des Éclaireuses Éclaireurs de
    France a été fondée en 1911 et Reconnue d’Utilité Publique depuis le 6
    août 1925</p>
</div>
<div style="position:absolute; left: 10.7cm; top: 20cm; width: 9.3cm;">
    <p style="background-color: #bf0000; color: white; width: 100%; font-size: 12pt; padding: .1cm;">DONATEUR</p>
    <p>Numéro d'ordre du reçu : J-{{ receipt.number }}</p>
    <p style="border-top: #bf0000 .5pt solid; padding-top: .2cm; margin-top: 0;">
        Nom : {{ receipt.name }}<br>
        Adresse : {{ receipt.address }}</p>
    <p style="border-top: #bf0000 .5pt solid; padding-top: .2cm; margin-top: 0;">
        L'association reconnait avoir reçu : {{ receipt.amount }} €<br>
        Somme en toutes lettres : {{ receipt.amount_letters }}</p>
    <p style="border-top: #bf0000 .5pt solid; padding-top: .2cm; margin-top: 0;">
        Date du don : {{ receipt.date }}<br>
        Nature du don : numéraire</p>
</div>
<div style="position:absolute; left: 1cm; top: 26.3cm; width: 9.3cm; border: .5pt solid;">
    <img src="./etc/receipt/signature.png" style="width: 1.5cm; float: left; margin: 0 .5cm;">
    <br>
    <b>Louise PILLET</b><br>
    <i>Présidente des EEDF</i>
</div>
<div style="position:absolute; left: 10.7cm; top: 26.3cm; width: 9.3cm; text-align: left; font-size: 7.5pt;">
    Le bénéficiaire certifie sur l’honneur que les dons et versements qu’il
    reçoit ouvrent droit à la réduction d’impôt prévue à l’article 200 du CGI.
</div>
</body>
</html>
