{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <h1>Annuler un reçu fiscal</h1>

        <div class="alert alert-danger" role="alert">
            Merci de prévenir le bénéficiaire que le reçu a été annulé et qu'il ne doit pas l'utiliser dans sa déclaration d'impôts.
        </div>

        <p>Merci de confirmer l'annulation du reçu fiscal suivant :</p>

        <p>
            Montant : {{ adhesion.receipt.amount }}<br>
            Date du paiement : {{ adhesion.receipt.date|date:"d/m/Y" }}<br>
            Nom du payeur : {{ adhesion.receipt.name }}<br>
            Adresse : {{ adhesion.receipt.address }}<br>
            Email : <a href="mailto:{{ adhesion.receipt.email }}">{{ adhesion.receipt.email }}</a>
        </p>

        <p>Vous pourrez ensuite délivrer un nouveau reçu avec les bonnes informations.</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmer l'annulation du reçu</button>
            <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        </form>

{% endblock content %}
