{% extends 'members/base.html' %}
{% load static crispy_forms_tags humanize %}


{% block content %}

    <div class="container">

        <h1>Statistiques des reçus fiscaux {{ year }}</h1>

        {% crispy filter.form %}

        <p>
            <a href="{% url 'amount' %}?{{ request.META.QUERY_STRING }}">Recettes</a> /
            <a href="{% url 'receipt_stats' %}?{{ request.META.QUERY_STRING }}">Reçus fiscaux</a>
        </p>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Montant</th>
                <th>Cotisation</th>
                <th>Dons</th>
            </tr>
            </thead>
            <tbody>
                <td align="right">{{ receipt_qs.nb|intcomma }}</td>
                <td align="right">{{ receipt_qs.amount|intcomma }} €</td>
                <td align="right">{{ allocation_qs.amount_contribution|intcomma }} €</td>
                <td align="right">{{ allocation_qs.amount_donation|intcomma }} €</td>
            </tbody>
        </table>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
