{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Reçus fiscaux {{ filter.form.year.value }}</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Numéro{% if request.GET.o == 'number' %} ▼{% endif %}</th>
                    <th>Structure{% if request.GET.o == 'structure' %} ▼{% endif %}</th>
                    <th>Dates</th>
                    <th>Payeur</th>
                    <th>Montant</th>
                    <th>État</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for adhesion in page_obj %}
                <tr>
                    <td><a href="{% url 'adhesion_detail' adhesion.pk %}">{{ adhesion.adherent.person.last_and_family_name }}</a></td>
                    <td>{{ adhesion.adherent.person.first_and_nick_name }}</td>
                    <td>{{ adhesion.adherent.person.number_str }}</td>
                    <td>{{ adhesion.structure }}</td>
                    <td>Du {{ adhesion.begin|date:'d/m/Y' }} au {{ adhesion.end|date:'d/m/Y' }}</td>
                    <td>
                        {% if adhesion.payment.payer %}
                            {{ adhesion.payment.payer.last_name }} {{ adhesion.payment.payer.first_name }}
                        {% elif adhesion.payment.method == 5 %}
                            EEDF
                        {% endif %}
                    </td>
                    <td>{{ adhesion.payment.amount }}</td>
                    <td>
                        {% with receipt=adhesion.receipt %}
                        {% if receipt %}
                            {% if receipt.download %}
                                <span class="label label-success">Téléchargé</span>
                            {% elif receipt.sending %}
                                <span class="label label-primary">Envoyé</span>
                            {% else %}
                                <span class="label label-warning">Édité</span>
                            {% endif %}
                        {% elif adhesion.effective_rate == 0 or adhesion.payment.method == 5 %}
                            <span class="label label-default">Non éligible</span>
                        {% elif not adhesion.payment or not adhesion.payment.payer %}
                            <span class="label label-danger">A compléter</span>
                        {% elif adhesion.payment.date.year >= current_year|add:-1 %}
                            <span class="label label-info">A éditer</span>
                        {% else %}
                            <span class="label label-danger">Non édité</span>
                        {% endif %}
                        {% endwith %}
                    </td>
                    <td style="white-space: nowrap;">
                        {% if adhesion.receipt %}
                            <a href="{% url 'receipt_download' adhesion.receipt.pk %}">
                                <span class="glyphicon glyphicon-download"></span> Télécharger
                            </a>
                        {% elif adhesion.effective_rate > 0 and not adhesion.payment and adhesion.season >= current_season|add:-1 %}
                            <a href="{% url 'payment_edit' adhesion.pk %}?next={{ request.get_full_path|urlencode }}">
                                <span class="glyphicon glyphicon-pencil"></span> Compléter
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} adhésion{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("receipt_filters", window.location.search);
    </script>

{% endblock js %}
