{% extends 'members/base.html' %}
{% load members %}


{% block content %}

    <div class="container">

        <h1>Remises CB {{ begin|date:'F Y' }}</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Cotisations</th>
                    <th>Dons</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
            {% for remittance in remittances %}
                <tr>
                    <td>{{ remittance.date|date:'d/m/Y' }}</td>
                    <td align="right">{{ remittance.contribution|default:"0,00" }} €</td>
                    <td align="right">{{ remittance.donation|default:"0,00" }} €</td>
                    <td align="right">{{ remittance.amount|default:"0,00" }} €</td>
                </tr>
            {%  endfor %}
            <tr>
                <td><b>TOTAL</b></td>
                <td align="right"><b>{{ totals.contribution|default:"0,00" }} €</b></td>
                <td align="right"><b>{{ totals.donation|default:"0,00" }} €</b></td>
                <td align="right"><b>{{ totals.amount|default:"0,00" }} €</b></td>
            </tr>
        </tbody>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'remittance_list' %}" + (sessionStorage.getItem("remittance_filters") || ""));
</script>

{% endblock js %}
