{% extends 'members/base.html' %}
{% load members %}


{% block content %}

    <div class="container">

        <h1>Remises CB</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mois</th>
                    <th>Cotisations</th>
                    <th>Dons</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
            {% for remittance in remittances %}
                <tr>
                    <td>
                        <a href="{% url 'remittance_detail' remittance.date__year remittance.date__month %}">
                            {{ remittance.date__month|stringformat:'02d' }}/{{ remittance.date__year }}
                        </a>
                    </td>
                    <td align="right">{{ remittance.contribution|default:"0,00" }} €</td>
                    <td align="right">{{ remittance.donation|default:"0,00" }} €</td>
                    <td align="right">{{ remittance.amount|default:"0,00" }} €</td>
                </tr>
            {%  endfor %}
        </tbody>
        </table>

    </div>

{% endblock content %}
