{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

<h1>Utilisation de vos données personnelles</h1>

<p>
Vous pouvez à tout moment demander à connaître les données à caractère personnel que les E.E.D.F. possèdent à votre sujet.
Pour cela, envoyez un mail à <a href="mailto:accueil.national@eedf.fr">accueil.national@eedf.fr</a>
ou <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> - Tél. : 01 48 15 17 66.
Vous pouvez également demander à ce que certaines ou l'ensemble de vos données soient modifiées ou supprimées en écrivant à la même adresse.
Dans tous les cas, il vous sera demandé de prouver votre identité (par exemple via une copie de votre carte d'identité).
</p>

<p>
En cas de problème, vous pouvez <a href="https://www.cnil.fr/fr/plaintes">adresser une plainte</a> auprès de la
Commission Nationale de l'Informatique et des Libertés.
</p>

<h3>Tableau récapitulatif de l’utilisation des données</h3>

<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>Données</th>
            <th>Ayant accès</th>
            <th>Usage</th>
            <th>Temporalité</th>
            <th>Conditions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nom, prénom d’usage, numéro adhérent, structure, fonction</td>
            <td>Toute.s les adhérent·es</td>
            <td>- chemin pour contacter un·e autre adhérent·e</td>
            <td>Année en cours</td>
            <td>- être adhérent·e dans l’année</td>
        </tr>
        <tr>
            <td>Nom, prénom, sexe état civil, nom d’usage, genre, statut, date et lieu de naissance, structure, fonctions, mail, téléphone, adresse</td>
            <td>Elu·es et salarié·es en lien avec le territoire : membres des EGA, ER, CD</td>
            <td>- lien fonction publique,<br>- transmission d’information<br>- organisation des activités</td>
            <td>Durée du mandat</td>
            <td>- signer une charte d’utilisation des données</td>
        </tr>
        <tr>
            <td>Toutes</td>
            <td>Responsables RGPD nationaux</td>
            <td>- suivi des sanctions<br>- attestation parcours engagement</td>
            <td>&gt; 3 ans</td>
            <td>- signature d’une charte d’utilisation des données<br>- formation RGPD</td>
        </tr>
    </tbody>
</table>

<p>
Un certain nombre de données sont collectées lors de votre adhésion (par le biais de la fiche d'adhésion et de la cotisation) et sont stockées au sein des serveurs utilisés par les membres des EEDF, notamment les serveurs utilisés par les outils numériques de l’association.
Les serveurs utilisé par l’association sont situé dans un pays sousmis à la RGPD.
</p>

<p>
Pour vous ou l’adhérent·e sous votre responsabilité, ces données sont (pour la personne adhérente) :
<ul>
    <li>le nom (à l’état civil) ;</li>
    <li>le prénom (à l’état civil) ;</li>
    <li>le sexe à l’état civil ;</li>
    <li>le prénom d’usage ;</li>
    <li>le genre ;</li>
    <li>la date de naissance ;</li>
    <li>le lieu de naissance ;</li>
    <li>le numéro d'adhérent·e EEDF ;</li>
    <li>la ou les deux adresse(s) mail(s) que vous avez fourni ;</li>
    <li>l’adresse postale ;</li>
    <li>le ou les deux numéros de téléphone que vous avez fournis ;</li>
    <li>la structure EEDF d’adhésion (groupe, région, centre, service vacances...) ;</li>
    <li>les fonctions occupée au sein des structures de l’association (exemples : responsable d'animation lutin, trésorier·e régional·e, y compris la fonction "adhérent·e de base" ou "enfant") ;</li>
    <li>La liste des structures EEDF au sein desquelles la personne occupe une responsabilité dans une équipe ;</li>
    <li>L’autorisation ou le refus du droit à l’image ;</li>
    <li>Les montants, moyens, dates, et le reçu fiscal concernant vos cotisations ou celles que vous réglez pour des tiers ;</li>
</ul>
</p>

<h3>Pour quel usage ?</h3>

<p>
Vos noms et prénoms, numéros d’adhérents, adresses mails peuvent être utilisés pour vous rechercher dans la base de données et faire apparaître les informations vous concernant. Les informations affichées dépendent du niveau de responsabilité et de fonctions des personnes.
Toute personne pourra voir au minimum vos noms, prénoms et numéro d’adhérent, les équipes auxquelles vous participez, et la structure EEDF où est enregistrer votre cotisation.
</p>
<p>
Les données suivantes : nom, prénom, date et lieu de naissance, genre, email, numéros de téléphone sont accessibles aux responsables et trésoriers des structures et des équipes auxquels vous participez. Ceci pour la bonne gestion de celles-ci et des collectifs pour des raisons de communication avec vous.
Ces responsables et trésoriers ont la possibilité de déléguer ou retirer la gestion à des membres de leurs structures ou équipes. Ces délégations sont tracées, et expire lorsque que la personne dépositaire premièrement des droits les perds.
</p>
<p>
Les fonctions ou missions que vous occupez dans une structure donnée, ainsi que votre statut au sein de l'association, permettent aux équipes salarié·e·s et bénévoles élu·es pour la gestion des structures “parentes” de celles où vous avez une fonction, de comprendre vos rôles dans l’association pour vous accompagner dans vos missions, valoriser vos actions et faciliter la mise en lien entre acteur·ices de l’association. Les fonctions occupées sur les structures permettent de créer des droits spécifiques et automatiquement dans les autres outils EEDF.
Liste des statuts : Adhérent·e / Ancien·ne / Responsable légaux/ Payeur·se / Volontaire / Salarié·e / suspendu·e / A quitté / Parti·e.
</p>
<p>
Toutes les autres données sont utilisées et nécessaires par les équipes gestionnaires des structures pour la bonne gestion de celles-ci et surtout pour la bonne gestion de vos droits et devoirs vis-à-vis de votre adhésion et cotisation. Vos données sont aussi utilisées pour des raisons de communication avec vous, ou parce que dans le cadre d’activités les EEDF doivent déclarer des données catégorisées et anonymisées. (Exemple : par genre, par tranches d’âges, sur critères géographiques, etc…)
</p>

<h3>Où sont stockées mes données ?</h3>

<p>
Vos données à caractère personnel collectées par l'outil JEITO (qu'elles soient collectées directement par le site ou copiées via un autre outil du portail EEDF) sont stockées sur le serveur hébergé chez OVH du site JEITO situé (voir chapitre hébergement).
Vos données peuvent se retrouver sur d’autres supports (papier, ordinateur) de manière à pouvoir satisfaire au besoin d’organisation des activités auxquels vous ou votre personne à charge, participe.
</p>
<p>
Ces données sont aussi stockées sur des serveurs de sauvegardes pour garantir la conservation de ces données en cas de problèmes avec le serveur principal. 
</p>

<h3>Pendant combien de temps ?</h3>

<p>
Vos données à caractère personnel stockées sur le serveur JEITO sont visible par certaines personnes  (voir partie usages) au maximum 3 ans après la fin de validité de votre dernière adhésion aux EEDF. Toutes les données sont conservées au minimum 10 ans, après 3 ans seules les responsables nationaux du traitement des données sont autorisés à consulter ses informations.
</p>

<h3>Qui y a accès ?</h3>

<p>
Vos données d’identitié et de contacts sont accessibles aux élu·es des structures, aux responsables des équipes, aux organisat·eur·rices et aux équipes de direction (direct·eur.rice et direct·eur.rice.s adjoint·e·s) des activités et séjours auxquels vous ou au moins un enfant dont vous êtes responsable légal·e participe. 
Les salarié·es de l’association qui ont des fonctions supports aux équipes de ces structures ont accès a ces données.
</p>

<h3>Qui y a accès AU DELA DE 3 ANS ?</h3>

<p>
Vos données sont accessibles aux quelques personnes des EEDF qui occupent une fonction de responsable national du traitement des données sein de l'association pour permettre :
<ul>
    <li>de créer à votre demande des attestations de parcours d’engagements ;</li>
    <li>effectuer un suivi des sanctions, des situations préoccupantes, ou des litiges ;</li>
    <li>communiquer pour répondre aux besoins des personnes ayant fait un don, un abandon de frais ;</li>
</ul>
</p>

<h3>Sur quelle base légale ?</h3>

<ul>
    <li>Votre consentement. Vous consentez au stockage et à l'utilisation de ces données lors de votre adhésion aux EEDF.</li>
    <li>Des obligations légales lorsque vous êtes une personne membre d’une équipe d’encadrement d’activités accueil collectif de mineur (ACM) ou lorsque vous assurer des fonctions de responsabilités de gestions de structures EEDF (Responsable, trésorier), par délégation de l’association.</li>
</ul>
<p>
Les EEDF considère que l’utilisation et le stockage des données relèvent également de l’intérêt légitime (https://www.cnil.fr/fr/les-bases-legales/interet-legitime) pour assurer la protection des personnes. 
</p>

<h3>Responsables légaux ou Payeur·ses :</h3>
<p>
Les données collectées sur vous lors de l'adhésion de votre enfant ou de la personne à charge (par le biais de la fiche d'adhésion) sont stockées au sein de l’outil Jeito (portail de gestion des adhésions et des nominations aux fonctions internes aux EEDF). Certaines de ces données sont des données à caractère personnel vous concernant en tant que responsable légal·e d'un·e adhérent·e. 
</p>

<h3>HEBERGEMENT</h3>

<p>
Ce site est hébergé par OVH Groupe SAS, société immatriculée au RCS de Lille sous le numéro 537 407 926<br>
Adresse : 2 rue Kellermann - 59100 Roubaix - France<br>
Téléphone : 118 707
</p>

<button type="button" onclick="window.open('', '_self', ''); window.close();" class="btn btn-primary">Fermer</button>

</div>

{% endblock content %}
