{% extends 'members/base.html' %}


{% block content %}

    {{ block.super }}

    <div class="modal fade" id="rgpd_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Exporter</h4>
            </div>
            <div class="modal-body text-danger">
                Je suis personnellement responsable de l'usage des données que je télécharge.<br>
                Je m'engage à :
                <ul>
                    <li>respecter les <a href="{% url 'rgpd' %}" target="_blank">règles</a> mise en place par les EEDF,</li>
                    <li>n'utiliser les données que dans le cadre des fonctions qui me sont confiées,</li>
                    <li>supprimer les données téléchargées dès qu'elle ne sont plus strictement nécessaires à l'exercice de ces fonctions.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger rgpd_button">Accepter</a>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('.rgpd_button').click(function() {
            $('#rgpd_modal').modal('hide');
        });

        $('#rgpd_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('url');
            var title = button.data('title');
            var modal = $(this);
            modal.find('.modal-title').text(title);
            modal.find('.rgpd_button').attr('href', url);
        });
    </script>

{% endblock js %}
