{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.add_roleconfig %}
                <a href="{% url 'roleconfig_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
        </div>

        <h1>Rôles</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom ▼</th>
                    <th>Pour</th>
                    <th>Uniquement</th>
                    <th>Avec</th>
                    <th>Attribué à</th>
                    <th>Délégable</th>
                    <th>Délai RGPD</th>
                </tr>
            </thead>
            <tbody>
            {% for config in page_obj %}
                <tr>
                    <td><a href="{% url 'roleconfig_detail' config.pk %}">{{ config.name }}</a></td>
                    <td>{{ config.for_display_br }}</td>
                    <td>{{ config.only_display_br }}</td>
                    <td>{{ config.with_display_br }}</td>
                    <td>{{ config.attributions_display }}</td>
                    <td>{{ config.delegation|yesno }}</td>
                    <td>{{ config.rgpd|yesno }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} rôle{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}
