{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.add_role %}
                <a href="{% url 'role_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
        </div>

        <h1>Attributions de rôle</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Rôle</th>
                    <th>Structure</th>
                    <th>Équipe</th>
                    <th>Mandant</th>
                    <th>Mandataire</th>
                </tr>
            </thead>
            <tbody>
            {% for role in page_obj %}
                <tr>
                    <td><a href="{% url 'role_detail' role.pk %}">{{ role.config }}</a></td>
                    <td><a href="{% url 'structure_detail' role.team.structure.pk %}">{{ role.team.structure }}</a></td>
                    <td><a href="{% url 'team_detail' role.team.pk %}">{{ role.team }}</a></td>
                    <td>{% if role.holder %}<a href="{% url 'person_detail' role.holder.pk %}">{{ role.holder }}</a>{% endif %}</td>
                    <td><a href="{% url 'person_detail' role.proxy.pk %}">{{ role.proxy }}</a></td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} rôle{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("role_filters", window.location.search);
    </script>

{% endblock js %}
