{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if can_delete_roleconfig %}
                <a href="{% url 'roleconfig_delete' roleconfig.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change_roleconfig %}
                <a href="{% url 'roleconfig_update' roleconfig.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Rôle {{ roleconfig.name }}</h1>

        <p><b>Pour :</b><br>{{ roleconfig.for_display_br }}</p>
        {% if roleconfig.only_display_br %}
            <p><b>Uniquement :</b><br>{{ roleconfig.only_display_br }}</p>
        {% endif %}
        {% if roleconfig.with_display_br %}
            <p><b>Avec :</b><br>{{ roleconfig.with_display_br }}</p>
        {% endif %}
        <p><b>Attribué automatiquement à :</b><br>{{ roleconfig.attributions_display }}</p>
        <p><b>Délégable :</b> {{ roleconfig.delegation|yesno }}</p>
        <p><b>Délai RGPD :</b> {{ roleconfig.rgpd|yesno }}</p>
        <p><b>Description :</b><br>{{ roleconfig.description }}</p>
        <p><b>Droits associées :</b>{% for permission in permissions %}<br>- {{ permission.name }}{% endfor %}</p>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'roleconfig_list' %}" + (sessionStorage.getItem("roleconfig_filters") || ""));
</script>

{% endblock js %}
