{% extends 'members/base.html' %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ role.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'role_delete' role.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
        </div>

        <h1>Rôle</h1>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Rôle</th>
                <td><a href="{% url 'roleconfig_detail' role.config.pk %}">{{ role.config }}</a></td>
            </tr>
            <tr>
                <th>Structure</th>
                <td><a href="{% url 'structure_detail' role.team.structure.pk %}">{{ role.team.structure }}</a></td>
            </tr>
            <tr>
                <th>Équipe</th>
                <td><a href="{% url 'team_detail' role.team.pk %}">{{ role.team }}</a></td>
            </tr>
            <tr>
                <th>Mandant</th>
                <td>{% if role.holder %}<a href="{% url 'person_detail' role.holder.pk %}">{{ role.holder }}</a>{% endif %}</td>
            </tr>
            <tr>
                <th>Mandataire</th>
                <td><a href="{% url 'person_detail' role.proxy.pk %}">{{ role.proxy }}</a></td>
            </tr>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'role_list' %}" + (sessionStorage.getItem("role_filters") || ""));
</script>

{% endblock js %}
