{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Statistiques pour le Scoutisme Français</h1>

        {% crispy filter.form %}

        <p>
            <a href="{% url 'dashboard' %}?{{ request.META.QUERY_STRING }}">Compteurs</a> /
            <a href="{% url 'chart' %}?{{ request.META.QUERY_STRING }}">Courbe annuelle</a> /
            <a href="{% url 'tableau_regions' %}?{{ request.META.QUERY_STRING }}">Par région</a> /
            <a href="{% url 'tableau_departements' %}?{{ request.META.QUERY_STRING }}">Par département</a> /
            <a href="{% url 'tableau_functions' %}?{{ request.META.QUERY_STRING }}">Par fonction</a> /
            <a href="{% url 'tableau_rate' %}?{{ request.META.QUERY_STRING }}">Par tarif</a> /
            <a href="{% url 'tableau_gender' %}?{{ request.META.QUERY_STRING }}">Par genre</a> /
            <a href="{% url 'structures' %}?{{ request.META.QUERY_STRING }}">Par structure</a> /
            <a href="{% url 'structure_type' %}?{{ request.META.QUERY_STRING }}">Par type de structure</a> /
            <a href="{% url 'tranches' %}?{{ request.META.QUERY_STRING }}">Par tranche d'imposition</a> /
            <a href="{% url 'stats_sf' %}?{{ request.META.QUERY_STRING }}">Pour le SF</a>
        </p>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom de la branche</th>
                    <th>Effectifs masculins</th>
                    <th>Effectifs féminins</th>
                    <th>Effectifs totaux</th>
                </tr>
            </thead>
            <tbody>
                {% for branch, numbers in headcounts.items %}
                    <tr>
                        <td>{{ branch }}</td>
                        <td align="right">{{ numbers.0 }}</td>
                        <td align="right">{{ numbers.1 }}</td>
                        <td align="right">{{ numbers.2 }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
