{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Statut de {{ adherent }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("adherent_filters") || "");

    var status_radio = $('input[type=radio][name="status"]');

    function update_suspension_deadline() {
        $('#div_id_suspension_deadline').toggle($('input[type=radio][name="status"]:checked').val() == "3");
    }

    status_radio.change(function() {
        update_suspension_deadline();
    });

    update_suspension_deadline();
</script>

{% endblock js %}
