{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Mettre la structure {{ structure }} en sommeil ?</h1>

	<p>Oui, je suis sûr de vouloir mettre la structure {{ structure }} en sommeil.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Mettre en sommeil" class="btn btn-primary">
	</form>

</div>

{% endblock content %}
