{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier la structure {{ structure }}{% else %}Ajouter une structure{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    var parent_select = $('#id_parent');
    var type_select = $('#id_type');
    var iban_group = $('#div_id_iban');
    var region_group = $('#div_id_region');

    function update_iban() {
        var type_pk = type_select.val();
        var show = true;
        {% for type in structure_types_without_iban %}
            if (type_pk == {{ type.pk }}) {
                show = false;
            }
        {% endfor %}
        iban_group.toggle(show);
    }

    function update_region() {
        var parent_pk = parent_select.val();
        var type_pk = type_select.val();
        console.log('parent_pk:', parent_pk);
        console.log('type_pk:', type_pk);
        region_group.toggle(parent_pk === '1' && type_pk !== '6' && type_pk !== '9');
    }

    type_select.change(function() {
        update_iban();
        update_region();
    });

    parent_select.change(function() {
        update_region();
    });

    update_iban();
    update_region();

    $('input[name="filters"]').val(sessionStorage.getItem("structure_filters") || "");
</script>

{% endblock js %}
