<html>
<head>
<style>
@page {
  size: A4;
  margin: 15mm;
  margin-bottom: 20mm;
  counter-increment: page;
  @bottom-right {
    content: "Page " counter(page) " sur " counter(pages);
    font-family: sans-serif;
    font-size: 10pt;
  }
}
body {
  font-family: sans-serif;
  font-size: 10pt;
}
h1 {
    margin-top: 0;
    padding: 0;
}
table {
    table-layout: fixed;
    width: 17.5cm;
    border-spacing: 0;
    border-collapse: collapse;
}
table td, table th {
    border: solid black 1px;
    padding: .1cm;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
</style>
</head>
<body>

<h1>{{ structure }}</h1>

<p>{{ adhesions|length }} adhérents de plus de 16 ans au {{ today|date:"d/m/Y" }}.</p>

<table>
    <tr>
        <th style="width: 4cm;">Nom<br>Prénom</th>
        <th style="width: 1.1cm;">Genre<br>Âge</th>
        <th style="width: 5.9cm;">{% if not structure.is_leaf_node %}Structure<br>{% endif %}Fonction(s)</th>
        <th style="width: 5cm;">Signature</th>
    </tr>
    {% for adhesion in adhesions %}
        <tr>
            <td>{{ adhesion.adherent.person.last_name }}<br>{{ adhesion.adherent.person.first_name }}</td>
            <td>{{ adhesion.adherent.person.gender }}<br>{{ adhesion.qs_age }}</td>
            <td>
                {% if not structure.is_leaf_node %}{{ adhesion.structure }}<br>{% endif %}
                {% for function in adhesion.structure_functions %}
                    {{ function }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>

