{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            <a href="{% url 'structure_export' %}?{% get_params %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
            {% if perms.members.add_structure %}
                <a href="{% url 'structure_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            {% endif %}
        </div>

        <h1>Structures</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom ▼</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for structure in page_obj %}
                <tr>
                    <td><a href="{% url 'structure_detail' structure.pk %}">{{ structure.name }}</a></td>
                    <td>{{ structure.type }}</td>
                    <td>{{ structure.status_label }}</td>
                    <td>
                        {% has_perm "members.change_structure" structure as change_perm %}
                        {% has_perm "members.delete_structure" structure as delete_perm %}
                        {% if change_perm %}
                            <a href="{% url 'structure_update' structure.pk %}"><span class="glyphicon glyphicon-pencil" title="Modifier"></a>
                        {% endif %}
                        {% if change_perm and delete_perm %}
                            &nbsp;
                        {% endif %}
                        {% if delete_perm %}
                            <a href="{% url 'structure_delete' structure.pk %}"><span class="glyphicon glyphicon-trash text-danger" title="Supprimer"></a>
                        {% endif %}
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} structure{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("structure_filters", window.location.search);
    </script>

{% endblock js %}
