{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Fermer la structure {{ structure }} ?</h1>

    <div class="alert alert-danger">
        ATTENTION ! La fermeture sera définitive.<br>
        Cette structure ne pourra pas être ré-ouverte par la suite.
    </div>

	<p>Oui, je suis sûr de vouloir fermer la structure {{ structure }}.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Fermer définitivement" class="btn btn-danger">
	</form>

</div>

{% endblock content %}
