{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer la structure {{ structure }} ?</h1>

    {% if structure.adhesions.exists %}
        <p>Il n'est pas possible de supprimer une structure sur laquelle des adhésions ont déjà été prises.</p>
        <a href="{% url 'structure_detail' structure.pk %}" class="btn btn-primary">Retour</a>
    {% elif structure.teams.exists %}
        <p>Il n'est pas possible de supprimer une structure qui a des équipes.</p>
        <a href="{% url 'structure_detail' structure.pk %}" class="btn btn-primary">Retour</a>
    {% elif structure.children.exists %}
        <p>Il n'est pas possible de supprimer une structure qui contient des sous structures.</p>
        <a href="{% url 'structure_detail' structure.pk %}" class="btn btn-primary">Retour</a>
    {% else %}
	<p>Oui, je suis sûr de vouloir supprimer la structure {{ structure }}</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>
    {% endif %}

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("structure_filters") || "");
</script>

{% endblock js %}
