{% extends 'members/base.html' %}
{% load members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ structure.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            <a href="{% url 'adhesion_list' %}?structure={{ structure.pk }}" class="btn btn-default">
                <span class="glyphicon glyphicon-list"></span> Adhérent·es
            </a>
            {% if can_delete and structure.is_closed %}
                <a href="{% url 'structure_delete' structure.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                {% if structure.is_active %}
                    <a href="{% url 'structure_dormant' structure.pk %}?back={{ request.path }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pause"></span> Mettre en sommeil
                    </a>
                {% elif structure.is_dormant %}
                    <a href="{% url 'structure_closed' structure.pk %}?back={{ request.path }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-stop"></span> Fermer
                    </a>
                    <a href="{% url 'structure_guardianship' structure.pk %}?back={{ request.path }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-play"></span> Ré-ouvrir
                    </a>
                {% endif %}
                <a href="{% url 'structure_update' structure.pk %}?back={{ request.path }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                </a>
            {% endif %}
        </div>

        <h1>Structure {{ structure.name }} {{ structure.status_label }}</h1>

        <p><b>Nom :</b> {{ structure.name }}</p>

        <p><b>Type :</b> {{ structure.type.name }}</p>

        {% if can_view_iban %}
            <p>
                <b>Compte bancaire :</b>
                {{ structure.iban_structure.iban }}
                {% if structure.iban_structure != structure %}
                    ({{ structure.iban_structure.name }})
                {% endif %}
            </p>
        {% endif %}

        <p><b>Statut :</b> {{ structure.get_status_display }}</p>

        <p><b>Localisation :</b> {{ structure.place }}</p>

        <p><b>Email public :</b> {{ structure.public_email }}</p>

        <p><b>Téléphone public :</b> <a href="{{ structure.public_phone.as_rfc3966 }}">{{ structure.public_phone_display }}</a></p>

        {% if can_view_function %}
            <p><b>Nominations :</b>
                <ul>
                {% for function in structure.functions %}
                    <li>
                        {{ function }} :
                        <a href="{% url 'person_detail' function.person.pk %}">{{ function.person }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if can_view_team %}
            <p><b>Équipes :</b>
                <ul>
                {% for team in teams %}
                    <li>
                        <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if structure.region %}
            <p><b>Région :</b> <a href="{% url 'structure_detail' structure.region.pk %}">{{ structure.region }}</a></p>
        {% endif %}

        {% if structure.parent %}
            <p>
                <b>Super-structures :</b><ul>
                    {% for superstructure in structure.get_ancestors %}
                        <li><a href="{% url 'structure_detail' superstructure.pk %}">{{ superstructure }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        {% if structure.get_children %}
            <p>
                <b>Sous-structures :</b><ul>
                    {% for substructure in structure.get_children %}
                        <li><a href="{% url 'structure_detail' substructure.pk %}">{{ substructure }}</a> {{ substructure.status_label }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        <p>
            <b>Liste d'émargement (adhérents de plus de 16 ans) :</b>
            <a href="{% url 'structure_signing' structure.pk %}"><span class="glyphicon glyphicon-download"></span> Télécharger</a>
        </p>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'structure_list' %}" + (sessionStorage.getItem("structure_filters") || ""));
</script>

{% endblock js %}
