{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Par {{ title }}</h1>

        {% crispy filter.form %}

        <p>
            <a href="{% url 'dashboard' %}?{{ request.META.QUERY_STRING }}">Compteurs</a> /
            <a href="{% url 'chart' %}?{{ request.META.QUERY_STRING }}">Courbe annuelle</a> /
            <a href="{% url 'tableau_regions' %}?{{ request.META.QUERY_STRING }}">Par région</a> /
            <a href="{% url 'tableau_departements' %}?{{ request.META.QUERY_STRING }}">Par département</a> /
            <a href="{% url 'tableau_functions' %}?{{ request.META.QUERY_STRING }}">Par fonction</a> /
            <a href="{% url 'tableau_rate' %}?{{ request.META.QUERY_STRING }}">Par tarif</a> /
            <a href="{% url 'tableau_gender' %}?{{ request.META.QUERY_STRING }}">Par genre</a> /
            <a href="{% url 'structures' %}?{{ request.META.QUERY_STRING }}">Par structure</a> /
            <a href="{% url 'structure_type' %}?{{ request.META.QUERY_STRING }}">Par type de structure</a> /
            <a href="{% url 'tranches' %}?{{ request.META.QUERY_STRING }}">Par tranche d'imposition</a> /
            <a href="{% url 'stats_sf' %}?{{ request.META.QUERY_STRING }}">Pour le SF</a>
        </p>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ title|capfirst }}</th>
                {% for title in header %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for key, values in data.items %}
                <tr>
                    <td>{{ key }}</td>
                    {% for value in values %}
                        <td align="right">{{ value }}</td>
                    {%  endfor %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="ct-chart ct-minor-seventh"></div>

    </div>

{% endblock content %}


{% block css %}

    {{ block.super }}
    <link href="{% static 'core/chartist/chartist.min.css' %}" rel="stylesheet">
    <style>
        .ct-label {
            font-size: 100%;
            font-weight: bold;
            fill: white;
        }
    </style>

{% endblock css %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter select, #filter input').change(function() {$('#filter').submit()});
    </script>

    <script src="{% static 'core/chartist/chartist.min.js' %}"></script>
    <script>
        var options = {
        };
        var data = JSON.parse('{{ graph|escapejs }}');
        new Chartist.Pie('.ct-chart', data, options);
    </script>

{% endblock js %}
