{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Tableau par région</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Structure</th>
                {% for season in seasons %}
                    <td align="right">{{  season }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for structure, counts in data.items %}
                <tr>
                    <td>{{ structure|safe }}</td>
                    {% for count in counts.values %}
                        <td align="right">{{ count }}</td>
                    {% endfor %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}
