{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Tableau par structure</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Structure</th>
                {% for season in seasons %}
                    <th align="right">{{ season }}</th>
                {% endfor %}
                <th align="right">Variation</th>
            </tr>
            </thead>
            <tbody>
            {% for structure, headcounts in data %}
                <tr>
                    <td>{{ structure.name }}</td>
                    {% for headcount in headcounts %}
                        <td align="right">{% if forloop.last and headcount > 0 %}+{% endif %}{{ headcount }}</td>
                    {% endfor %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}
