{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}


{% block breadcrumbs %}

{{ block.super }}
<li class="active">Montant des cotisations (hors SV)</li>

{% endblock breadcrumbs %}


{% block content %}

<h1>Tableau par fonction</h1>

<div class="alert alert-danger" role="alert">
  ATTENTION !!! Ces chiffres sont publiés sous réserve de validité des informations exportées par le portail
  <a href="http://entrecles.eedf.fr">Entréclés</a>
</div>

<h2>{{ seasons.0 }}</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th>Tarif</th>
        <th>Nombre</th>
        <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    {% for line in data1 %}
        <tr>
            <td>{{ line.rate__name|safe }}</td>
            <td align="right">{{ line.nb }}</td>
            <td align="right">{{ line.amount }}</td>
        </tr>
    {%  endfor %}
  </tbody>
</table>

<h2>{{ seasons.1 }}</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th>Tarif</th>
        <th>Nombre</th>
        <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    {% for line in data2 %}
        <tr>
            <td>{{ line.rate__name|safe }}</td>
            <td align="right">{{ line.nb }}</td>
            <td align="right">{{ line.amount }}</td>
        </tr>
    {%  endfor %}
  </tbody>
</table>

{% endblock content %}
