{% extends 'members/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        <h1>Recettes au {{ date }}</h1>

        {% crispy filter.form %}

        <p>
            <a href="{% url 'amount' %}?{{ request.META.QUERY_STRING }}">Recettes</a> /
            <a href="{% url 'receipt_stats' %}?{{ request.META.QUERY_STRING }}">Reçus fiscaux</a>
        </p>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Tarif</th>
                <th>Montant</th>
                <th>Nombre</th>
                <th>Somme</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.rate__name }}</td>
                    <td align="right">{{ row.qs_effective_rate }} €</td>
                    <td align="right">{{ row.headcount }}</td>
                    <td align="right">{{ row.amount }} €</td>
                </tr>
            {%  endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td align="right">{{ total_headcount }}</td>
                <td align="right">{{ total_amount }} €</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
