{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            <a href="{% url 'team_export' %}?{% get_params %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Exporter
            </a>
            <a href="{% url 'team_create' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Ajouter
            </a>
        </div>

        <h1>Équipes</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Type d'équipe{% if request.GET.o == 'type' %} ▼{% endif %}</th>
                    <th>Structure{% if request.GET.o == 'structure' %} ▼{% endif %}</th>
                    <th>Effectif{% if request.GET.o == 'qs_headcount' %} ▼{% endif %}{% if request.GET.o == '-qs_headcount' %} ▲{% endif %}</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for team in page_obj %}
                <tr>
                    <td><a href="{% url 'team_detail' team.pk %}">{{ team }}</a></td>
                    <td>{{ team.type }}</td>
                    <td>{{ team.structure }}</td>
                    <td style="text-align: right;">{{ team.qs_headcount }}</td>
                    <td>{{ team.status_label }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} équipe{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("team_filters", window.location.search);
    </script>

{% endblock js %}
