{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Désactiver l'équipe {{ team }} ?</h1>

    <p>Oui, je suis sûr de vouloir désactiver l'équipe {{ team }} sur la structure {{ team.structure }}</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pause"></span> Désactiver</button>
    </form>

</div>

{% endblock content %}
