{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer l'équipe {{ team }} ?</h1>

    {% if errors %}
        <div class="alert alert-danger">
            {{ errors|pluralize:"Une,Des" }} erreur{{ errors|pluralize }} empêche{{ errors|pluralize:",nt" }} la suppression de l'équipe :
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Retour</a>
    {% else %}
        <p>Oui, je suis sûr de vouloir supprimer l'équipe {{ team }} sur la structure {{ team.structure }}</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="filters">
            <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
        </form>
    {% endif %}

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("team_filters") || "");
</script>

{% endblock js %}
