{% extends 'members/base.html' %}
{% load members %}


{% block content %}

    <div class="container">

        <div class="btn-toolbar title-action">
            {% if perms.members.view_logentry %}
                <a href="{% url 'logentry_list' %}?content_type={{ content_type.id }}&object_id={{ team.id }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-backward"></span> Historique
                </a>
            {% endif %}
            {% if can_view_function %}
                <a href="{% url 'function_list' %}?team={{ team.pk }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-list"></span> Membres
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'team_delete' team.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                </a>
            {% endif %}
            {% if can_change %}
                {% if team.is_active %}
                    {% if not team.type.management %}
                        <a href="{% url 'team_deactivate' team.pk %}?back={{ request.path }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pause"></span> Désactiver
                        </a>
                    {% endif %}
                    <a href="{% url 'team_update' team.pk %}?back={{ request.path }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier
                    </a>
                {% else %}
                    <a href="{% url 'team_activate' team.pk %}?back={{ request.path }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-play"></span> Réactiver
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <h1>{{ team }} {{ team.status_label }}</h1>

        <p><b>Nom :</b> {{ team.name }}</p>
        <p><b>Type :</b> {{ team.type }}</p>
        <p><b>Date de création :</b> {{ team.creation_date|date:"d/m/Y" }}</p>
        {% if team.deactivation_date %}
            <p><b>Date de désactivation :</b> {{ team.deactivation_date|date:"d/m/Y" }}</p>
        {% endif %}
        <p><b>Structure :</b> <a href="{% url 'structure_detail' team.structure.pk %}">{{ team.structure }}</a></p>
        <p><b>Effectif :</b> {{ team.headcount }} membre{{ team.headcount|pluralize }}</p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fonction</th>
                    <th>Membres</th>
                </tr>
            </thead>
            <tbody>
                {% for config, functions in members.items %}
                    <tr>
                        <td>{{ config }}</td>
                        <td>
                            <div class="btn-toolbar pull-right">
                                <a href="{% url 'function_list' %}?team={{ team.pk }}&type={{ config.function_type.pk }}" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-list"></span> Liste
                                </a>
                                {% if not config.subject_to_nomination %}
                                    <a href="{% url 'function_create' %}?team={{ team.pk }}&config={{ config.pk }}&back={{ request.path }}" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                                    </a>
                                {% endif %}
                            </div>
                            {% for function in functions|slice:":10" %}<a href="{% url 'person_detail' function.person.pk %}">{{ function.person.full_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% if functions|length > 10 %}, <b>…</b>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'team_list' %}" + (sessionStorage.getItem("team_filters") || ""));
</script>

{% endblock js %}
