{% extends 'members/base.html' %}
{% load members humanize %}


{% block content %}

    <div class="container">

        <h1>Virements et prélèvements</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Cotisations<br>prélevées</th>
                    <th>Cotisations<br>remboursées</th>
                    <th>Dons<br>reversés</th>
                    <th>Débit</th>
                    <th>Crédit</th>
                </tr>
            </thead>
            <tbody>
            {% for order in page_obj %}
                <tr>
                    <td><a href="{% url 'transferorder_detail' order.pk %}">{{ order }}</a></td>
                    <td align="right">{{ order.contribution_debit|default:""|intcomma }}</td>
                    <td align="right">{{ order.contribution_credit|default:""|intcomma }}</td>
                    <td align="right">{{ order.donation_positive|default:""|intcomma }}</td>
                    <td align="right">{{ order.debit|default:""|intcomma }}</td>
                    <td align="right">{{ order.credit|default:""|intcomma }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock content %}
