{% extends 'members/base.html' %}
{% load humanize %}


{% block content %}

    <div class="container">

        {% if transfer.order.outstanding %}
        <h1>Encours pour la structure {{ transfer.structure }}</h1>
        {% else %}
            <h1>Virements et prélèvements du {{ transfer.order.date|date:'d/m/Y' }} pour la structure {{ transfer.structure }}</h1>
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Adhésion</th>
                    <th>Cotisations<br>prélevées</th>
                    <th>Cotisations<br>remboursées</th>
                    <th>Dons<br>reversés</th>
                    <th>Débit</th>
                    <th>Crédit</th>
                </tr>
            </thead>
            <tbody>
            {% if transfer.carry %}
                <tr>
                    <td>Report</td>
                    <td></td>
                    <td></td>
                    <td align="right">{{ transfer.carry_positive }}</td>
                    <td></td>
                    <td></td>
                    <td align="right">{{ transfer.carry_positive }}</td>
                </tr>
            {% endif %}
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.adhesion.begin|date:'d/m/Y' }}</td>
                    <td><a href="{% url 'adhesion_detail' entry.adhesion.pk %}">{{ entry.adhesion.adherent.person }}</a></td>
                    <td align="right">{{ entry.contribution_debit|default:"" }}</td>
                    <td align="right">{{ entry.contribution_credit|default:"" }}</td>
                    <td align="right">{{ entry.donation_positive|default:"" }}</td>
                    <td align="right">{{ entry.debit|default:"" }}</td>
                    <td align="right">{{ entry.credit|default:"" }}</td>
                </tr>
            {%  endfor %}
                <tr>
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td align="right"><b>{{ transfer.contribution_debit|default:"" }}</b></td>
                    <td align="right"><b>{{ transfer.contribution_credit|default:"" }}</b></td>
                    <td align="right"><b>{{ transfer.donation_positive|default:"" }}</b></td>
                    <td align="right"><b>{{ transfer.debit|default:"" }}</b></td>
                    <td align="right"><b>{{ transfer.credit|default:"" }}</b></td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-default" href="{% url 'transferorder_detail' transfer.order.pk %}"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}
