{% extends 'members/base.html' %}
{% load humanize members %}


{% block content %}

    <div class="container">

        {% if perms.members.export_transferorder and not transferorder.outstanding %}
        <div class="btn-toolbar title-action">
            <a href="{% url 'sepa_debit' transferorder.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Prélèvements SEPA
            </a>
            <a href="{% url 'sepa_credit' transferorder.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Virements SEPA
            </a>
            <a href="{% url 'transferorder_xlsx' transferorder.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-download"></span> Export XLSX
            </a>
        </div>
        {% endif %}

        {% if transferorder.outstanding %}
            <h1>Encours</h1>
        {% else %}
            <h1>Ordre de transfert du {{ transferorder.date|date:'d/m/Y' }}</h1>
        {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Structure</th>
                    <th>IBAN</th>
                    <th>Cotisations<br>prélevées</th>
                    <th>Cotisations<br>remboursées</th>
                    <th>Dons<br>reversés</th>
                    <th>Débit</th>
                    <th>Crédit</th>
                </tr>
            </thead>
            <tbody>
            {% for transfer in transfers %}
                <tr>
                    <td><a href="{% url 'transfer_detail' transfer.pk %}">{{ transfer.structure }}</a></td>
                    <td>{{ transfer.iban }}</td>
                    <td align="right">{{ transfer.contribution_debit|default:""|intcomma }}</td>
                    <td align="right">{{ transfer.contribution_credit|default:""|intcomma }}</td>
                    <td align="right">{{ transfer.donation_positive|default:""|intcomma }}</td>
                    <td align="right">{{ transfer.debit|default:""|intcomma }}</td>
                    <td align="right">{{ transfer.credit|default:""|intcomma }}</td>
                </tr>
            {%  endfor %}
                <tr>
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td align="right"><b>{{ transferorder.contribution_debit|default:""|intcomma }}</b></td>
                    <td align="right"><b>{{ transferorder.contribution_credit|default:""|intcomma }}</b></td>
                    <td align="right"><b>{{ transferorder.donation_positive|default:""|intcomma }}</b></td>
                    <td align="right"><b>{{ transferorder.debit|default:""|intcomma }}</b></td>
                    <td align="right"><b>{{ transferorder.credit|default:""|intcomma }}</b></td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-default list-link"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

    </div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $(".list-link").attr("href", "{% url 'transferorder_list' %}" + (sessionStorage.getItem("transferorder_filters") || ""));
</script>

{% endblock js %}
