{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer l'ordre de transfert du {{ transferorder.date|date:'d/m/Y' }} ?</h1>

    <p style="color:red;">ATTENTION ! Ne pas supprimer un ordre de transfert si celui-ci a déjà été exécuté.</p>

	<p>Oui, je suis sûr de vouloir supprimer l'ordre de transfert du {{ transferorder.date|date:'d/m/Y' }}</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input type="hidden" name="filters">
		<a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("transferorder_filters") || "");
</script>

{% endblock js %}
