{% extends 'members/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Ajouter un ordre de transfert</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="hidden" name="filters">
        <a href="javascript:window.history.back()" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Annuler</a>
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

{{ block.super }}

<script>
    $('input[name="filters"]').val(sessionStorage.getItem("transferorder_filters") || "");
</script>

{% endblock js %}
