{% extends 'members/base.html' %}
{% load static crispy_forms_tags members %}


{% block content %}

    <div class="container">

        <h1>Adhésions non payées</h1>

        {% crispy filter.form %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nom{% if request.GET.o == 'last_name' or not request.GET.o %} ▼{% endif %}</th>
                    <th>Prénom{% if request.GET.o == 'first_name' %} ▼{% endif %}</th>
                    <th>Numéro{% if request.GET.o == 'id' %} ▼{% endif %}</th>
                    <th>Structure{% if request.GET.o == 'structure' %} ▼{% endif %}</th>
                    <th>Date de<br>saisie{% if request.GET.o == 'date' %} ▼{% endif %}</th>
                    <th>Nombre de<br>rappels</th>
                    <th>Dernier<br>rappel</th>
                </tr>
            </thead>
            <tbody>
            {% for adhesion in page_obj %}
                <tr>
                    <td><a href="{% url 'adhesion_detail' adhesion.pk %}">{{ adhesion.adherent.person.last_and_family_name }}</a></td>
                    <td>{{ adhesion.adherent.person.first_and_nick_name }}</td>
                    <td>{{ adhesion.adherent.person.adherent.id_str }}</td>
                    <td><a href="{% url 'structure_detail' adhesion.structure.pk %}">{{ adhesion.structure }}</a></td>
                    <td>{{ adhesion.entry_date|date:"d/m/Y" }}</td>
                    <td>{{ adhesion.notification_set.all|length }}</td>
                    <td>{{ adhesion.notification_set.last.date|date:"d/m/Y" }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% get_params page=1 %}">&laquo; Première</a>
                    <a href="?{% get_params page=page_obj.previous_page_number %}">Précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% get_params page=page_obj.next_page_number %}">Suivante</a>
                    <a href="?{% get_params page=page_obj.paginator.num_pages %}">Dernière &raquo;</a>
                {% endif %}
            </span>
            ({{ paginator.count }} adhésion{{ paginator.count|pluralize }})
        </div>

    </div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
        sessionStorage.setItem("unpaid_filters", window.location.search);
    </script>

{% endblock js %}
