<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Jeunes</strong>{# (groupes locaux)#}</h1>
    </div>
    <div class="panel-body text-center">
        <span class="number">{{ youngs_headcount }}</span>
        <span class="percent {% if youngs_headcount_diff < 0 %}negative{% endif %}">
            {% if youngs_headcount_diff > 0 %}+{% endif %}{{ youngs_headcount_diff|floatformat:"1" }}%
        </span>
    </div>
</div>
