{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container login">

        <h1>Déconnexion</h1>

        {% if not error %}
            <form id="authorizationForm" method="post">
                {% if application %}
                    <h2 class="block-center-heading">Confirmer la déconnexion de {{ application.name }}</h3>
                {% else %}
                    <h2 class="block-center-heading">Confirmer la déconnexion</h3>
                {% endif %}
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">
                    <div class="controls">
                        <a href="javascript:history.back()" class="btn btn-large btn-default">Annuler</a>
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Déconnecter"/>
                    </div>
                </div>
            </form>

        {% else %}
            <h2>Erreur: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}


    </div>

{% endblock %}
